/*
    Created on : Feb 18, 2014, 12:25:49 PM
    Author     : Kom Sihon
*/

body {color: #333}
.working {cursor: wait}
.success {background: #B6F1B6; border: 1px solid; color: #039B03}
.failure {background: #FFB6C1; border: 1px solid; color:  #F00}
.clear {clear: both}
.text-muted {color: #888}
.help {color: #888; font-size: 14px}
.arrow {color: #bbb; margin: auto; width: 40px}
.arrow div {float: left; height: 20px; width: 20px}
.arrow.up div:first-child {border-right: 1px solid; transform: skewX(-30deg); transform-origin: 10px 0 0}
.arrow.up div:last-child {border-left: 1px solid; margin-left: -1px; transform: skewX(30deg); transform-origin: 10px 0 0}
.tpl, .none {display: none}
.icon {background: no-repeat center; border: 1px solid transparent; cursor: pointer; display: block; float: left;height: 30px;
    margin-left: 6px; width: 30px}
.icon:hover {border: 1px solid #ddd; border-radius: 3px}
.cta {font-weight: 700; letter-spacing: 1px; text-transform: uppercase}
.glyphicon.action {border: 1px solid #ddd; border-radius: 3px; color: #888; line-height: 32px; text-align: center; width: 34px;}

.spinner-container {-webkit-animation: rotate 2s linear infinite; animation: rotate 2s linear infinite; z-index: 2}
.spinner-container .path {
  stroke-dasharray: 1,150;
  stroke-dashoffset: 0;
  stroke: rgba(69, 151, 255, 0.85);
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes dash {
    0% {stroke-dasharray: 1,150; stroke-dashoffset: 0}
    50% {stroke-dasharray: 90,150; stroke-dashoffset: -35}
    100% {stroke-dasharray: 90,150; stroke-dashoffset: -124}
}
@-webkit-keyframes dash {
    0% {stroke-dasharray: 1, 150; stroke-dashoffset: 0}
    50% {stroke-dasharray: 90, 150; stroke-dashoffset: -35}
    100% {stroke-dasharray: 90, 150; stroke-dashoffset: -124}
}

#top-notice-ctnr {left: 0;position: fixed;text-align: center;top: 66px;width: 100%;/* right: 0; */z-index: 10000;}
.floating-notice {background: #F6FF8C; border: 1px solid #CDD570; border-radius: 2px; color: #484B2B; padding: 9px 24px; position: absolute}
.floating-notice.failure {border: 1px solid; color:  #F00}
.floating-notice .action {cursor: pointer; text-decoration: underline}

.member, .ik-li {border-bottom: 1px solid #eee;display: block;float: left;padding: 15px;width: 100%;transition: border .1s;}
.member:hover, .ik-li:hover {background: #f8f8f8}
.member.active, .ik-li.active {background: #f6f6f6}
.member .photo, .ik-li .image {background: no-repeat center;background-size: cover;float: left;height: 60px;width: 60px;}
.member .photo {border-radius: 30px;overflow: hidden;}
.member .info, .ik-li .info {float: left; margin-left: 5px}
.member .full_name, .ik-li .name, .ik-li .title {cursor: pointer; color: #333; font-size: 18px; margin: 10px 0 0}
.member .about, .ik-li .about {color: #888; font-size: 14px}
.ik-li .select {background: #fff no-repeat center;border-radius: 10px;display: none; height: 20px;position: absolute;width: 20px;margin: -25px}

.ik-li .glyphicon, #selection-control .glyphicon {
    box-sizing: content-box;
    cursor: default;
    padding: 5px;
    border: 1px solid transparent
}
.ik-li .glyphicon:hover, #selection-control .glyphicon:hover {border: 1px solid #ddd; border-radius: 3px}
.ik-li.selected {border: 3px solid #9433ff; transition: border .1s}
.ik-li.selected + .ik-li.selected {border-top: none}
.ik-li.selected .select {background: #9433ff url('../img/white-tick-15.png') no-repeat center; display: block}
.ik-li .actions {display: none;float: right;}
.ik-li:hover .select, .ik-li:not(.selected):hover .actions {display: block}
.member.tpl, .ik-li.tpl {display: none}
time {color: #888;float: right;font-size: 11px; font-weight: normal; padding: 0;}

.tiles .ik-li {border: 1px solid #eee;height: 150px;margin: 15px;width: 45%;}
.tiles .ik-li.selected {border: 3px solid #9433ff}
.tiles .ik-li.selected + .ik-li.selected {border-top: 3px solid #9433ff}
@media (min-width: 768px) {
    .tiles .ik-li {height: 280px;width: 30%;}
}
.tiles .ik-li:hover, .tiles .ik-li.active {background: #f6f6f6}
.tiles .ik-li .image {height: 200px;width: 100%}
.tiles .ik-li .info {margin: 7px 0 0 0}

.tiles .sortable-placeholder {
    border: 3px dashed #777;
    float: left;
    display: block
}
.ik-li .actions {margin-top: 7px;}

.has-shade {box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, .1)}
.text-has-shade {text-shadow: 1px 2px 2px rgba(0, 0, 0, .7);}
.inner-shade {box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);}
.subtle-shade {box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);}
.has-faded-edge {overflow: hidden}
.has-faded-edge span {float: left;width: 400%;}
a.button {margin-top: 4px}
.has-faded-edge span.faded-edge {background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%);
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%);
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%);
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1);
float: right; height: 300%; margin-top: -20px; width: 20%}

html, body {
    position: relative;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide.main {overflow: auto}

#navbar {height: 55px;min-height: 50px;position: fixed;width: 100%;}
.menu-button {float: left;margin: 20px 20px 0;}
.icon-bar {
    background: #fff;
    display: block;
    margin-bottom: 5px;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
#navbar .glyphicon {color: #fff;cursor: pointer;font-size: 18px;}
#navbar .back {display: none;float:left;font-size: 24px;margin: 12px 15px 0 10px;}
.navbar-default .navbar-brand {padding: 18px 0 0 0;}
 #navbar .navbar-header {height: 55px;overflow: hidden;/* position: fixed; *//* width: 100%; */}
#navbar-search {
    display: none;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    margin-left: 2%;
    padding: 10px;
    position: fixed;
    top: 3px;
    width: 96%;
    z-index: 10;
}
#navbar-search .hide-search {color: #bbb;float: left;font-size: 20px;margin-top: 6px;}
#navbar-search input {background: none;border: none;float: right;width: 88%;}

form#search .spinner {
    background: url("../img/spinner-medium.gif") no-repeat center;
    background-size: 24px;
    position: absolute;
    margin: 5px 0 0 260px;
    height: 24px;
    width: 24px;
}

#navbar-results {clear: both}
#navbar-results .ik-li {padding: 3px 0;text-transform: capitalize;}
#navbar-results .ik-li .info {margin-left: 6px;min-width: 76%;width: 220px;}
#navbar-results .ik-li .title {margin-top: 0;}
#navbar-results .ik-li .about {height: 35px;margin-bottom: 0;overflow: hidden;}


#nav-xs li {display: inline-block;margin-right: 18px;}
#nav-xs li:last-child {margin-right: 10px}
#nav-xs {padding: 18px 0;}
#user-menu-xs {float: left;width: 100%;background: #2c3e50;}
#user-menu-xs li {border-bottom: 1px solid #42505f;}
#site-menu {background: #2c3e50;padding: 0;}
.glyphicon + .label {margin: -15px 0 0 12px;position: absolute;}

#category-list {
    min-width: 100px;
    width: 70%;
    max-width: 300px;
    background-color: #222;
    color: #fff;
    padding: 10px 15px 0;
    height: 100%;
}
#category-list h3 {color: #999;font-size: 18px;font-weight: 700;margin: 6px 0 3px;}
#category-list ul {padding-left: 0}
/*#category-list li {background: #2c3e50;border-radius: 15px;display: inline-block;padding: 3px 15px;height: 30px;float: left;width: auto;margin-right: 10px;}*/
#category-list li a {color: #ddd}
#category-list li.active a, #category-list li a:hover {background: #111}
#menu-xs {border-bottom: 1px solid #7d5e00; margin-bottom: 1em; padding-bottom: .3em;}
#menu-xs h3, #menu-xs li a {color: #FFC107}
.guard-img-landscape {display: block;margin: 0 auto 10px;}
.guard-img-portrait {display: none}

@media (orientation: portrait) {
    .guard-img-landscape {display: none}
    .guard-img-portrait {display: block;margin: 0 auto 10px;}
}

#content.container {padding: 50px 0 0;}

.main-title {margin: 10px 0 1em;font-size: 18px;font-weight: 700;}

@media (max-width: 767px) {
    .input-sm {font-size: 15px}
    #navbar > .container-fluid {padding: 0;}
    .navbar-default .navbar-brand {max-width: 115px;overflow: hidden;}
    .navbar-default .navbar-brand > * {float: left; width: 300%}
    #navbar-results {border-top: 1px solid #eee}
    .media-list .col-xs-4 {padding: 0 5px}
    .streaming-error img {width: 60px}
}
@media (min-width: 768px) {
    #content.container {padding-left: 15px; padding-right: 15px}
    #navbar .navbar-header {float: left; height: auto}
    .menu-button {cursor: pointer; margin: 21px 15px 0 0;}
    .icon-bar {
        width: 26px;
        height: 3px;
    }
    #user-menu-xs {display: none}
    .navbar-default .navbar-brand {padding: 19px 15px;}
    #navbar-search {
        background: transparent;
        display: block;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        position: static;
        box-shadow: none;
        width: 300px;
        }
    #navbar-search input {
        background: none;
        border: none;
        border-bottom: 2px solid #ddd;
        border-radius: 0;
        color: #ddd;
        float: right;
        width: 100%;
    }

    form#search .spinner {
        margin: 0 0 0 280px;
    }

    #navbar {height: 65px;background-color: #2c3e50;}
    .content-vendor.navbar-nav>li>a {padding-left: 10px; padding-right: 10px}
    #navbar-results {margin-top: 1px;float: left; width: 100%}
    #navbar-results .stage {background: #fff;box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, .1)}
    #navbar-results .ik-li {padding: 3px}
    #navbar-results .ik-li .about {width: 150px}
    #navbar .glyphicon {font-size: 21px}
    #category-list h3 {font-size: 21px;font-weight: 400;margin: 9px 0 25px;}
    #site-menu {background:none; }
    .glyphicon + .label {margin: -15px 0 0 15px;position: absolute;}
    #content.container {padding-top: 65px}
    .main-title {margin-top: 15px;font-size: 25px;font-weight: 400;}
}
@media (min-width: 992px) {
    #navbar {height: 105px}
    #content.container {padding-top: 105px}
    #navbar-search {margin-left: 80px;width: 360px}
    form#search .spinner {
        margin: 0 0 0 330px
    }
    #navbar-results {box-sizing: content-box;margin-top: 0;margin-left: -45px;padding: 1px 45px 45px;}
    #navbar-results .ik-li a {cursor: pointer; padding: 7px;}
    #navbar-results .ik-li .info {margin-left: 15px;width: 265px}
    #navbar-results .ik-li .about {width: 240px;}

    .main-title {font-size: 30px}
    .content-vendor.navbar-nav>li>a {padding-left: 10px; padding-right: 10px}
}
@media (min-width: 1200px) {
    .menu-button {margin: 18px 15px 0 0;}
    .icon-bar {
        width: 30px;
        height: 3px;
        margin-bottom: 7px;
    }
    #navbar-search {margin-left: 210px;width: 450px;}
    #navbar-results .ik-li .info {width: 350px}
    #navbar-results .ik-li .about {width: 330px;}
    #item-detail #navbar-results .ik-li .info {width: 305px}
    #item-detail #navbar-results .ik-li .about {width: 310px;}
    .member .info, .ik-li .info {float: left; margin-left: 30px}

    form#search .spinner {
        margin: 0 0 0 420px
    }

    .main-title {font-size: 32px}
}

#selection-control {background: #fff; color: #888; height: 47px;min-height: 47px; position: fixed;
    width: 100%; padding-top: 12px; top: -50px; z-index: 1000; transition: top .3s}
#selection-control.visible {top: 0;transition: top .3s;padding-top: 20px;}
#selection-control .clear-selection {background-size: 24px; cursor: pointer;
    float: left;height: 24px;opacity: .5; width: 24px;}
#selection-control .select-count {float: left; margin-left: 30px}
#selection-control .actions {float: right}
#app-nav {background: #3498db;font-weight: 700;height: 45px;margin-top: 47px;padding-top: 10px;position: fixed;width: 100%;z-index: 10;}
#app-nav .app-name {float: left; width: 240px}
#app-nav .breadcrumb {background: none;float: left;padding-top: 2px;}
#app-nav .breadcrumb a {color: #fff}
div#container.admin {padding-top: 92px;}
@media (min-width: 992px) {
    #selection-control {height: 66px;min-height: 66px; padding-top: 20px; top: -70px}
    #selection-control .actions {margin-top: -4px}
    #app-nav {margin-top: 66px}
    div#container.admin {padding-top: 111px;}
}

#admin-nav > div > div {padding: 0 10px;}
#admin-nav .stage {width: 200%;padding: 0;}
#admin-nav {background: #fff;border-right: 1px solid #eee;left: 0;overflow: auto;position: fixed;width: 270px;height: 100%;}
#admin-nav .divider {border-top: 1px solid #ddd; margin: 15px 0}
.nav-pills>li>a {padding: 5px 15px;cursor: pointer;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {background: #eee; color: #333}

#filter-nav {padding: 0 10px;}
#filter-nav span {cursor: pointer; float: left;width: 50%;padding-bottom: 6px;}
#admin-nav .filter, #admin-nav .menu {float: left;width: 50%;padding: 0 10px;}

#admin-content {margin-left: 270px;padding-top: 16px;min-height: 450px;}
#context-search {float: left}
#context-search input {border: 1px solid #ddd}
#page-navigation {float: right;margin-right: 600px;}
#page-navigation > div {float: left}
#page-navigation i {background: #eee;border: 2px solid #ddd;cursor: default;display: block;float: left;font-weight: 700;height: 30px;padding-top: 2px;text-align: center;width: 30px;}
#page-navigation i:hover {background: #e6e6e6}
#page-navigation i.finished, #page-navigation i.finished:hover {background: #f8f8f8}
.page-navigation {clear: both; float: left}
.change-form label {font-weight: 400}
.change-form label.required {font-weight: 700}

@media (min-width: 768px) {
    .admin-form .form-group:last-child {padding-left: 0}
}
@media (min-width: 972px) {
    .admin-form section .form-control {width: 400px}
    .help {padding-top: 3px}
}
@media (min-width: 1200px) {
    #admin-content.change-form {padding-left: 40px}
}

.checkbox-row input[type=checkbox] {float: left;width: 20px;}
.checkbox-row label {margin: 10px 0 0 10px}
#stage section {background: #fff;float: left;margin-top: 25px;overflow: hidden;padding: 15px;width: 100%;}
#stage section h3 {font-size: 21px; font-weight: 700; margin-top: 0}
footer {color: #999; font-size: 12px; margin-top: 45px; text-align: center; padding-bottom: 30px}
footer a {color: #999}
.menu-footer {color: #999;font-size: .9em;margin-top: 2em;}


body {background: #f8f9f9;}
#content > section > h3 {font-size: 1em;font-weight: 700;margin-bottom: .5em;}
#content > section > h3 span {float: left;}
#content > section > h3 a {cursor: pointer;float: right;font-size: 13px;font-weight: normal;margin: 0 3px 0 0;text-decoration: none;}
#content > section > h3 a:hover {color: #0000ff}

.item {background: #fff;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);float: left;height: 175px;padding: 5px;width: 100%;margin-bottom: 2em;transition: box-shadow .3s;overflow: hidden;}
.item .view-details {background: rgba(0, 0, 0, 0); cursor: pointer; float: left; height: 100%; width: 100%; transition: background .3s}
.item .poster {background-position: center -10px;background-size: 110px auto;float: left;height: 120px;width: 100%;transition: background-size .3s;}
.item.main {height: 559px; width: 479px}
.item.main .poster {background-size: 462px auto; height: 480px}
.item .title {background: #fff;float: left;height: 40px;margin: 6px 0 20px;
    text-transform: capitalize; transition: margin .3s, box-shadow .3s;width: 100%;}
.item .clicks {color:#fff; float: left; font-size: 11px}
.item .clicks span {float: none}
.item .load {float: left; font-size: 13px; margin-top: 4px}


#content > section > h3 {padding: 0 15px;float: left;width: 100%;}
.media-list .swiper-container {min-height: 179.5px}
.media-list .swiper-slide {padding: 0}

@media (min-width: 768px) {
    #content > section > h3 {font-size: 1.5em;font-weight: 400;margin-bottom: 1em;padding: 0 15px;}
    #content > section > h3 a {margin-top: 12px}
    .media-list .swiper-wrapper.master {display: block;}
    .media-list .swiper-slide {padding: 0 10px; width: 25%}
    .item {height: 250px; padding: 10px}
    .item .poster {background-position: center -20px; background-size: 200px auto; height: 200px;}
    .item .title {height: 20px}
}
@media (min-width: 972px) {
    #content > section > h3 {font-size: 2em}
    #content > section > h3 a {margin-top: 15px}
    .item {height: 280px;margin-top: 10px;margin-bottom: 2.5em;}
    .item .poster {background-size: 250px auto; height: 230px}
    .item:hover .view-details {background: rgba(0, 0, 0, .6); transition: background .3s}
    .item:hover {box-shadow: 1px 1px 9px 4px rgba(255, 87, 0, 0.42); transition: box-shadow .3s}
    .item:hover .poster {background-size: 270px auto; transition: background-size .3s}
    .item:hover .title {margin: -20px 0 8px; transition: margin .3s, box-shadow .3s}
}
@media (min-width: 1200px) {
    .media-list .swiper-slide {padding: 0 15px}
    .item {height: 320px;}
    .item .poster {height: 265px}
}

#item-detail {background: #fff;height: 100%;position: fixed;overflow: auto;width: 100%;top: 0;right: 0;z-index: 1;}
#item-detail .header-top {display: none}
#item-detail #navbar {background: transparent}
#item-detail > .spinner {margin-top: 60%;}
#item-detail .menu {height: 50px;position: fixed;width: 100%;z-index: 10;}
#item-detail .bg {background: #2c3e50;color: #fff;height: 50px;font-size: 19px;padding-top: 10px;position: absolute;opacity:0;text-align: center;width: 100%;}
#item-detail .parallax-bg {
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    margin-top: -10%;
}
#item-detail .gradient-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+15,000000+45,000000+70&0.5+0,0+15,0+45,0.4+70 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 45%, rgba(0,0,0,0.4) 70%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0) 45%,rgba(0,0,0,0.4) 70%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0) 45%,rgba(0,0,0,0.4) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
height: 70%; position: fixed; text-align: center; width: 100%
}
#item-detail .swiper-slide.ghost {height: 14%;}  /* Ghost slides are transparent slides that help create parallax effect */
#item-detail .main-actions {padding: 6% 0 4%;}
#item-detail .media-price {
    margin-top: -10px;
}
#item-detail #navbar .back {cursor: pointer; display: block}
#item-detail #navbar .menu-button {display: none}
#item-detail #navbar .navbar-brand {visibility: hidden}
#item-detail #nav-xs li:not(.show-search) {display: none}

.episode-list {clear:both;float: left;margin-top: 1em;padding-left: 0;}
.episode-list li {display: block}
.episode-list button {float: right;}
.episode-list button .glyphicon {margin: 0}
.episode-list .episode {border-top: solid 1px #eee;float: left;padding: 5px 0;width: 100%;}
.episode-list .episode .actions {margin-top: 0}
.episode-list .name {float: left;margin-top: 5px;}
.episode-list .name  span+span{color: #BB7A66; margin-left: 7px}
.episode-list .order {float: right}

.play-media .glyphicon, .play-trailer .glyphicon {margin-right: 7px;margin-left: -3px;}
.play-media, .order-media {background: #00618d;border: 2px solid #00618d;float: right;font-weight: 700;color: #fff;padding: 2px 20px;}
.play-media:hover, .order-media:hover {background: #0071a5;border: 2px solid #0071a5;color: #fff;}
.play-trailer {float: left;background: transparent;color: #00618d;border: 2px solid;font-weight: 700;padding: 2px 20px;}
.play-trailer:hover {background: transparent;color: #00618d;border: 2px solid;}
#item-detail .content {background: #fff;min-height: 60%;height: auto;}
.item-detail-title {font-weight: 700;margin: 1em 0 .5em;}
.item-detail-content {text-align: justify}
.main-actions .order-media .glyphicon {margin-right: 7px}

@media (min-width: 768px) {
    #item-detail #navbar .back {margin: 21px 15px 0 0}
    #item-detail .menu {height: 65px}
    #item-detail .bg {height: 65px;text-align: left;padding-left: 65px;padding-top: 20px;}
    #item-detail #navbar-search {margin-top: 0}
    #item-detail #site-menu {visibility: hidden}
}

@media (min-width: 768px) and (orientation: portrait) {
    #item-detail .parallax-bg {
        height: 90%;
    }
    #item-detail .gradient-bg {height: 90%}
    #item-detail .swiper-slide.ghost {height: 16%;}
    #item-detail .content {background: #fff;min-height: 80%;height: auto;}
    .play-media, .play-trailer, .order-media {padding: 6px 36px}
    .order-media {height: 35px}
    .order-media .glyphicon {font-size: 13px; margin-right: 7px}
}

@media (min-width: 500px) and (orientation: landscape) {
    #item-detail > .spinner {margin-top: 30%;}
    #item-detail #navbar-search {width: 46%}
    #item-detail .menu, #item-detail #navbar {/* overflow: hidden; */width: 40%;}
    #item-detail .parallax-bg {
        height: 100%;
        margin-top: 0;
        width: 40%
    }
    #item-detail .gradient-bg {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+20,000000+80,000000+100&0.5+0,0+20,0+80,0.5+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
        height: 100%
    }
    #item-detail .swiper-slide.ghost {height: 100%; width: 10%}
    #item-detail .content {height: 100%;width: 60%;overflow: auto;}
    #item-detail .content .container {width: 100%;}
    #item-detail .main-actions {padding: 10% 0 4%}
}

@media (min-width: 768px) and (orientation: landscape) {
    #item-detail #navbar > .container-fluid {padding: 0; margin-right: 0}
    #item-detail #navbar .back {margin-right: 0}
    #item-detail .menu, #item-detail #navbar {width: 48%}
    #item-detail #navbar .navbar-brand {display: none}
    #item-detail #navbar-search {width: 300px}
    #item-detail .parallax-bg {width: 48%}
    #item-detail .swiper-slide.ghost {height: 100%; width: 12%}
    #item-detail .content {width: 52%}
    .item .play-trailer, .item .play-media, .item .order-media {padding: 2px 20px}
    .item .glyphicon {margin: 0}
    .item .order-media .glyphicon {font-size: 18px; margin: 0}
    .item .order-media {font-size: 18px; height: 27px}
    .item .order-media .glyphicon {margin-right: 0; top: -1px}
    .item .order .play-trailer {float: right; font-size: 18px; height: 27px; margin-right: 10px}
    .item .order .play-trailer .glyphicon {margin: 0 -4px 0 0; top: -2px}
}

@media (min-width: 992px) and (orientation: landscape) {
    #item-detail #navbar-search {margin-left: 0;width: 360px;}
    #item-detail > .spinner {margin-top: 25%;}
    #item-detail .main-actions {padding: 4% 0 4%}
    .play-media, .play-trailer, .order-media {padding: 6px 36px}
    .order-media {height: 35px}
    .order-media .glyphicon {font-size: 13px; margin-right: 7px}
    .episode-list .play-media, .episode-list .play-trailer {padding: 3px 24px}
    #item-detail .media-price {margin-top: -15px}
}

@media (min-width: 1200px) and (orientation: landscape) {
    #item-detail .menu, #item-detail #navbar {width: 40%}
    #item-detail #navbar-search {margin-left: 0;width: 400px;}
    #item-detail > .spinner {margin-top: 21%;}
    #item-detail .parallax-bg {width: 40%;}
    #item-detail .swiper-slide.ghost {width: 10%}
    #item-detail .content {width: 60%}
    #item-detail .media-price {margin-top: -25px}
}

#lightbox {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
;height: 100%;position: fixed;overflow: auto;width: 100%;top: 0;right: 0; transition: background-color .3s;z-index: 2
}
#lightbox .dialog.player {margin-top: 45%;/* background: #fff; */}
#lightbox .close {
    font-size: 42px;
    margin-right: 8px;
    color: #ccc;
    opacity: 1;
}
#lightbox .dialog.player, #lightbox .dialog.bundle-sold-out {cursor: default;margin-left: auto;margin-right: auto;;padding: 0;}
#lightbox .dialog.player.spinner, #lightbox .dialog.bundle-sold-out.spinner {float: none} /* Cancels rule float: left set by class .spinner */
#lightbox .dialog.player.stream {background-color: #000;transition: background-color .3s}
#lightbox iframe {border: none; display: block; margin: auto}
#lightbox .streaming-error, #lightbox .dialog.bundle-sold-out .streaming-error {padding: 24px 15px;background: #fff;text-align: center;margin: -60px auto;}
#lightbox .streaming-error p.error, #lightbox .dialog.bundle-sold-out .streaming-error p.error {font-size: 1em; line-height: 1.2em; margin-top: 15px}
#video-stage {width: 100%; height: 100%}

.bundle {border: 2px solid #000;box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, 0);margin-bottom: 2em;transition: box-shadow .3s;border-radius: 4px;}
.bundle:hover {box-shadow: 1px 1px 9px 4px rgba(255, 87, 0, 0.42); transition: box-shadow .3s}
.bundle .title {background: #000;color: #fff;font-size: 25px;margin-top: 0;padding: 18px 0;text-align: center;}
.bundle .about {/* color: #fff; */padding-bottom: 18px;text-align: center;}
.bundle .about span {float: left; font-size: 14px; list-style: none; padding: 10px 0; width: 100%}
.bundle .about ul {padding-left: 0;}
.bundle .about ul li {float: left;font-size: 15px;list-style: none;padding: 2px 0;width: 100%;}
.bundle .about ul li:first-child {height: 42px; line-height: 18px}
.bundle .about ul li:empty {display: none}
.bundle .about span.cost {color: #ED1F24;font-size: 27px;font-weight: bold;margin: 12px 0;padding: 0;text-align: center;}

#payment-methods ul {padding-left: 0;}

.payment-method {display: block;cursor: pointer;margin-bottom: 1em;}
.payment-method a {display: block; text-align: center}

@media (min-width: 500px) and (orientation: landscape) {
    #lightbox .dialog.player {margin-top: 12%;width: 420px;}
}
@media (min-width: 768px) {
    #lightbox .dialog.player {margin-top: 13%;width: 600px;}
    /*#lightbox .dialog.player.stream {padding-top: 33px;}*/
    #payment-methods ul {margin-top: 15px}
    .payment-method {display: inline}
    #lightbox .streaming-error p.error, #lightbox .dialog.bundle-sold-out .streaming-error p.error {font-size: 1.3em; line-height: 1.8em; margin-top: 18px}
    #lightbox .streaming-error, #lightbox .dialog.bundle-sold-out .streaming-error {padding: 36px 15px;background: #fff;text-align: center;margin: 0 auto;}
}

@media (min-width: 992px) {
    #lightbox .dialog.player {margin-top: 10%;}
}

.img-list {margin: 0; padding: 0}
.img-list li {display: block; margin: .5em 0}
.img-list .img {background-size: cover; float: left; height: 100px; width: 160px}
.img-list .description {float: left; padding: .5em 0 0 1em}
.img-list .title {font-size: 1.1em; font-weight: 700}

/**** CONTENT VENDOR   ****/
.header-top {
    background: #150b27;
    height: 40px;
    padding: .5em 0 .7em;
 }
.header-top .glyphicon {
    cursor: pointer;
 }
.top-left {
    float: left;
    height: 26px;
    margin-top: -4px;
}
.top-left i {
    font-size: 1em;
    margin-left: 0.5em;
}
.top-left  a{
    color: #fff;
    font-size: 1em;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
}
.top-right ul li {
    display: inline-block;
    padding: 0em 1em;
}
.top-right ul li a {
    font-size: 1em;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
}
.top-right .dropdown-menu li a {
    background: #fff;
    color:#777;
    font-weight: 400
}
.top-right .dropdown-menu li a:hover {
    color:#333;
}
.top-right ul li.text a {
	color:#fff;
}
.top-right {
    float: right;
}
.header-right2{
    float: right;
    font-size: 14px;
    margin: .7em 0 0 20px;
}

.header-bottom.fixed .header-right2 {
    margin-top: 0
}
.box_1 {
  float: right;
    clear: both;
}
.box_1 h3 {
  color:#fff;
  font-size: 0.9em;
  margin: 0;
}
.cart .total {
  display: inline-block;
  vertical-align: middle;
}
.box_1 a img {
  margin: 3px 0 0 0px;
}
.box_1 p {
	margin: 0;
    color: #fff;
    font-size: 14px;
}
a.empty-cart {
	color:#fff;
	font-size: 13px;
	text-decoration: none;
	text-align: right;
	display: block;
}
.modal-body button {margin-top: 1em}

/****  CART STUFFS   **/
.cart-overlay {background: rgba(0, 0, 0, .3);display: none;height: 100%;overflow: hidden;position: fixed;top: 0;width: 100%;z-index: 10;}
#cart {background: #fff;float: right;height: 100%;max-width: 310px;min-width: 100px;margin-right: -300px;padding: 10px 10px 50px;width: 80%;overflow: auto;}
#cart .panel {border: none; box-shadow: none}
#cart .items-count {cursor: default; float: right; font-size: 20px; height: 24px; width: 24px}
#cart .items-count span {color: #FFA300; float: right; font-weight: bold; margin: 9px -4px 0 0}
#cart .panel .movies {clear: both;}
#cart .panel .movies .no-movie {background: #f8f6f6; padding: 15px; text-align: center}
#cart .panel .item {background: no-repeat center -8px; background-size: 60px auto; float: left; height: 60px; margin: 9px 9px 0 0; overflow: hidden; padding: 0; width: 60px}
#cart .panel .item:nth-child(3n) {margin-right: 0}
#cart .panel .item .about {background: rgba(255, 255, 255, .85); height: 18px; top: 62px; padding-left: 3px; position: relative}
#cart .panel .item .name {height: 18px; text-transform: capitalize}
#cart .panel .controls {background: #fff;float: left;height: 87px;padding: 0 4px 6px;width: 100%;margin-bottom: 15px;}
#cart .panel .controls .quota {float: left;width: 100%;}
#cart .panel .controls .quota .gauge {border: solid 1px #cbdc2b;border-radius: 2px;height: 12px;margin-right: 0px;overflow: hidden;}
#cart .panel .controls .quota .gauge .fill {height: 100%;float: left}
.gauge.normal .fill {background: #CBDC2B;}
#cart .panel .controls .quota .gauge.critical {border: 1px solid #C90119}
.gauge.critical .fill {background: #D62626}
#cart .panel .controls .quota .text-view {clear: both; float: left; margin-top: 3px}
#cart .panel .controls .quota .text-view .total {font-weight: bold}
#cart .panel .controls .actions {float: left; margin-top: 12px; width: 100%}
#cart .panel .upgrade {color: #BD7300}
#cart .item .delete {background-color: rgba(255, 255, 255, .75); height: 60px; position: relative; top: -18px; width: 60px}
#cart .item .delete span {cursor: pointer; float: right; font-size: 18px; margin: 0 4px}
#cart .cancel-delete {margin: 0 0 0 3em;}
#cart .more {border: 2px dashed #BEA07F; display: none; float: left; height: 60px; margin: 9px 8px 0 0; width: 60px; text-align: center}
#cart .empty-cart {cursor: pointer; float: left; margin-top: 6px}
#cart .checkout {color: #fff;float: right;letter-spacing: 1px;}
#clear-cart {float: left; padding: 20px 5px; text-align: center; width: 100px}
form#auto-selection {display: none;}
form#auto-selection > div {width:100%;float: left;}
form#auto-selection .cancel {color: #555; cursor: pointer; float: right}
form#auto-selection label {float: left;margin-top: 5px;text-align: left;width: 72px;}
form#auto-selection input {float: left; width: 72px}
form#auto-selection input + span {margin: 6px 0 0 9px;float: left;}

@media (min-width: 362px) {
    #cart .panel .item:nth-child(3n) {margin-right: 9px}
    #cart .panel .item:nth-child(4n) {margin-right: 0}
}

.summary-media-poster {background: no-repeat center; background-size: cover; float: left; height: 45px;width: 45px}
#modal-guard-image .modal-content {background: none;box-shadow: none;border: none;}
#modal-guard-image .warning {color: #fff}
#modal-guard-image .warning a {color: #fff; text-decoration: underline}
.turn-down {color: #D62626; font-size: 24px; margin: 25% auto; text-align: center}