{% load i18n %}
<div id="cart" class="icon-menu">
    <div class="icon items-count" style="background-position: -71px 1px"> <span></span> </div>
    <div class='panel has-shade hidden'>
        <div class="close caution text-has-shade" style="font-size: 18px">X</div>
        <div class="cancel-delete floating-notice text-has-shade hidden"> {% trans "Deleted" %} - <b class="action">{% trans "undo" %}</b> </div>
        <div class="movies">
            <div class='item subtle-shade tpl'>
                <div class="about">
                    <div class='name has-faded-edge'>
                        <span></span>
                        <span class="faded-edge"></span>
                    </div>
                </div>
                <div class='delete caution text-has-shade hidden'> <span> X </span> </div>
            </div>
            {# TODO: Make the multiple files effect when the item in the cart is a series rather than showing individual episodes #}
            <div class="more">
                <p style="font-size: 21px; margin-top: 15px">+<em style="">10</em></p>
                <a href="{% url 'movies:checkout' %}">{% trans "See all" %}</a>
            </div>
            <div class="no-movie">
                {% blocktrans %}
                    <p style="border-bottom: 1px solid #fce5dd; padding-bottom: 15px">
                        Empty cart. Click <strong>Order</strong> to add an item
                    </p>
                {% endblocktrans %}
                <p style="background: #FDEFE0; margin: -20px auto 0; padding: 12px; width: 20px">{% trans "OR" %}</p>
                <p>
                    <button class="show-form confirm" title="{% trans "Automatically choose the best movies and series for you" %}">{% trans "Perform an automatic selection" %}</button>
                </p>
                <form id="auto-selection">
                    <div class="hide text-has-shade">X</div>
                    <div>
                        <label for="movies-qty">{% trans "Movies" %}</label>
                        <input id="movies-qty" type="number" />
                        <span>{{ settings.SALES_UNIT_STR }}</span>
                    </div>
                    <div>
                        <label for="series-qty">{% trans "Series" %}</label>
                        <input id="series-qty" type="number" />
                        <span>{{ settings.SALES_UNIT_STR }}</span>
                    </div>
                    <button class="confirm" style="margin-top: 6px; width: 90px">{% trans "OK" %}</button>
                    <svg class="spinner-container" width="30px" height="30px" viewBox="0 0 16 16" style="display: none; position: absolute; margin: 6px 0 0 6px">
                        <circle class="path" cx="8px" cy="8px" r="7px" fill="none" stroke-width="2px"></circle>
                    </svg>
                </form>
            </div>
        </div>
        <div class="controls has-shade">
            <div style="float: left; margin-top: 6px; width: 100%">
                <div class="quota">
                    <div class="gauge">
                        <span class="fill"></span>
                    </div>
                    <div class="text-view">
                        <span class="used">0</span> <span>%</span>
                        <span class='total'>/{{ display_available_quota }} </span>
                    </div>
                </div>
            </div>
            <div class="actions">
                <a href="{% url 'movies:checkout' %}" class='button confirm delivery' style="color: #681b00; padding-bottom: 2px">
                    <span class="icon default" style="background-position: -24px 0px; background-size: 240px auto; margin-top: -4px; height: 24px; width: 24px"></span>
                    <span style="margin-left: 5px; float: right">{% trans "Checkout" %}</span>
                </a>
                <span class="empty caution" style="cursor: pointer; margin: 10px 0 0 15px">{% trans "Empty cart" %}</span>
            </div>
        </div>
    </div>
</div>