{% load i18n %}
<div class="dialog login-required has-shade hidden" style="color: #55372D">
    <div class="stage">
        <div id="avatar"></div>
        <div style="font-size: 16px; text-align: center">
            {% blocktrans %}<a href="{{ sign_in_url }}" class="login">Login</a> to continue.{% endblocktrans %}
        </div>
        <div style="border-top: 1px solid #FCE5DD; margin-top: 20px; padding-top: 5px; text-align: right">
            {% url 'ikwen:register' as register_url %}
            {% blocktrans %}No account yet ? <a href="{{ register_url }}">Register</a>{% endblocktrans %}
        </div>
    </div>
</div>