{% load i18n %}
<script type="text/javascript">
    (function() {
        /**********************************************************************/
        /************************   GLOBAL HANDLERS    ************************/
        /**********************************************************************/
        {% if request.user.is_authenticated %}
            ikwen.availableQuota = parseInt("{{ available_quota }}");
            ikwen.canAccessAdultContent = "{{ request.user.can_access_adult_content }}".toLocaleLowerCase();
            {% if not last_vod_prepayment or last_vod_prepayment.days_left < 0 or last_vod_prepayment.balance == 0 %}
                {% if not is_bundle_page %}
                    $('div#lightbox .dialog').hide();
                    $('div#lightbox .dialog.bundle-sold-out').show();
                    $('div#lightbox .close').hide();
                    $('#lightbox').fadeIn();
                {% endif %}
            {% endif %}
        {% else %}
            $('div#lightbox .dialog').hide();
            $('div#lightbox .dialog.login-required').show();
            $('div#lightbox .close').hide();
            $('#lightbox').fadeIn();
        {% endif %}

        var itemsCount = localStorage.getItem('itemsCount');
        if (!itemsCount) itemsCount = 0;
        $('div#cart .items-count span').text(itemsCount);

        $('form#search').submit(function() {
            var q = ikwen.stripArticles($(this).find('[name=radix]').val());
            $(this).find('[name=q]').val(q)
        });
        $('form#search input').focusin(function() {
           $('form#search .icon.magnifier').hide();
           $(this).animate({width: 270}, 'normal', 'swing');
           $('#search-result').removeClass('hidden')
        }).blur(function() {
            $(this).animate({width: 216}, 'normal', 'swing', function() {$('form#search .icon.magnifier').show()});
            $(this).val("");
            $('#search-results').fadeOut()
        }).keyup(function() {
            var str = $(this).val();
            str = ikwen.stripArticles(str);
            ikwen.search("{% url 'movies:search' %}" , str, '#search-results', 'div#search-results .movie', 'form#search .spinner')
        });
        $('div#top .login').click(function() {
            $('#login-panel').slideDown()
        });
        $('div#login-panel .close').click(function() {
            $('#login-panel').slideUp()
        });
        $('#user-menu').click(function() {
            $('div#user-menu .panel').slideDown()
        });
        $('div#user-menu .panel').mouseleave(function() {
            $('div#user-menu .panel').slideUp()
        });
        $('div#user-menu .logout').click(function() {
            localStorage.removeItem('moviesSelection');
            localStorage.removeItem('seriesSelection');
            localStorage.removeItem('itemsCount')
        });
        // If user is not logged in, ask him to do so when trying to play media
        $('.media .connect').live('click', function() {
            $('div#lightbox .dialog').hide();
            $('div#lightbox .dialog.login-required').show();
            $('#lightbox').fadeIn();
            return false
        });
        $('button.processing, a.button.processing').live('click', function() {
            var notice = "{% blocktrans %}Sorry! You have a pending update - <a href='{{ history_url }}?cancelLast=yes'>Cancel it</a>{% endblocktrans %}";
            $('div#top-notice-ctnr span').html(notice);
            $('div#top-notice-ctnr').hide().fadeIn();
            return false
        });
        $('div#lightbox .cancel.default, div#lightbox .close').click(function() {
            $('#lightbox').fadeOut()
            $('.player iframe').remove()
        });

        /********************************************************************/
        /***********************    FREEZE TOP BAR HANDLERS    **************/
        /********************************************************************/

        $(window).scroll(function() {
            var topH = 41,
                scrollTop = $(this).scrollTop();
            if (scrollTop > topH) {
                if (!$('div#top').hasClass('frozen'))
                    $('#top').addClass('frozen has-shade').hide().fadeIn();
                    $('#side-nav').css('margin-top', '40px')
            }
            if (scrollTop < topH) {
                $('#top').removeClass('frozen has-shade');
                $('#side-nav').css('margin-top', '28px')
            }
        });
        var $sideNav = $('#side-nav'),
            $more = $('#more-categories');

        $('div#top .logo').mouseenter(function(){
            if($sideNav.hasClass('visible')) return false;
            $sideNav.show().addClass('visible').find('.stage').addClass('unveiled')
        }).mouseleave(function() {
            $more.removeClass('unveiled');
            $sideNav.find('.stage').removeClass('unveiled').delay(300).parent().hide().removeClass('visible');
        });
        $sideNav.find('nav li.more').mouseenter(function() {
            $more.addClass('unveiled')
        });
        $sideNav.find('nav li:not(.more)').mouseenter(function() {
            $sideNav.find('nav li.more').removeClass('current');
            $more.removeClass('unveiled');
        });
        $('nav.categories li.entry').click(function() {
            if ($(this).hasClass('is-adult')) {
                {% if not request.user.is_authenticated %}
                    $('div#lightbox .dialog').hide();
                    $('div#lightbox .dialog.login-required-for-adult').show();
                    $('#lightbox').fadeIn();
                    return false;
                {% elif  request.user.is_authenticated and not request.user.adult_authorized %}
                    $('div#lightbox .dialog').hide();
                    $('div#lightbox .dialog.confirm-adult').show();
                    $('#lightbox').fadeIn();
                    return false;
                {% elif request.user.is_authenticated and request.user.adult_authorized %}
                    $(this).find('a').click();
                {% endif %}
            } else {
                $(this).find('a').click()
            }
        });

        $('div#lightbox .dialog.confirm-adult button.confirm').click(function() {
            $('body, button').css('cursor', 'wait');
            $.getJSON("{% url 'shavida:authorize_adult' %}", null, function (data) {
                $('body, button').css('cursor', 'default');
                if (data.error) alert(data.error);
                else {
                    {% if last_vod_prepayment.adult_authorized %}
                        window.location = "{% url 'movies:home' %}#adult_autorized";
                    {% else %}
                        window.location = "{% url 'movies:bundles' %}";
                    {% endif %}
                }
            })
        });
        {% if request.GET.bundleChosen %}
{#            $('div#top-notice-ctnr span').html("{% trans "Your bundle was chosen. Please pay on a Point of Sale" %}");#}
{#            $('div#top-notice-ctnr').fadeIn('slow').delay(10000).fadeOut();#}
        {% endif %}
})()
</script>