{% load i18n %}
<script type="text/javascript">
    (function() {
        /**********************************************************************/
        /************************   GLOBAL HANDLERS    ************************/
        /**********************************************************************/
        {% if request.user.is_authenticated %}
            ikwen.availableQuota = parseInt("{{ available_quota }}");
            ikwen.canAccessAdultContent = "{{ request.user.can_access_adult_content }}".toLowerCase();
        {% endif %}

        var itemsCount = localStorage.getItem('itemsCount');
        if (!itemsCount) itemsCount = 0;
        $('div#cart .items-count span').text(itemsCount);

        $('form#search').submit(function() {
            var q = ikwen.stripArticles($(this).find('[name=radix]').val());
            $(this).find('[name=q]').val(q)
        });
        $('form#search input').focusin(function() {
           $('form#search .icon.magnifier').hide();
           $(this).animate({width: 270}, 'normal', 'swing');
           $('#search-result').removeClass('hidden')
        }).blur(function() {
            $(this).animate({width: 216}, 'normal', 'swing', function() {$('form#search .icon.magnifier').show()});
            $(this).val("");
            $('#search-results').fadeOut()
        }).keyup(function() {
            var str = $(this).val();
            str = ikwen.stripArticles(str);
            ikwen.search("{% url 'movies:search' %}" , str, '#search-results', 'div#search-results .movie', 'form#search .spinner')
        });
        $('div#top .login').click(function() {
            $('#login-panel').slideDown()
        });
        $('div#login-panel .close').click(function() {
            $('#login-panel').slideUp()
        });
        $('#user-menu').click(function() {
            $('div#user-menu .panel').slideDown()
        });
        $('div#user-menu .panel').mouseleave(function() {
            $('div#user-menu .panel').slideUp()
        });
        $('div#user-menu .logout').click(function() {
            localStorage.removeItem('moviesSelection');
            localStorage.removeItem('seriesSelection');
            localStorage.removeItem('itemsCount')
        });
        $('div#content.media-list .item:not(.main)').live('mouseenter', function() {
            $(this).find('a.poster').animate({height:190},'swing')
        }).live('mouseleave', function(){
            $(this).find('a.poster').animate({height: 230},'swing')
        });
     // ask the user to connect if he is not when trying to order movies
        $('.media .connect').live('click', function() {
            $('div#lightbox .dialog').hide();
            $('div#lightbox .dialog.login-required').show();
            $('#lightbox').fadeIn();
            return false
        });
        $('button.processing, a.button.processing').live('click', function() {
            var notice = "{% blocktrans %}Sorry! You have a pending update - <a href='{{ history_url }}?cancelLast=yes'>Cancel it</a>{% endblocktrans %}";
            $('.top-notice-ctnr span').html(notice);
            $('.top-notice-ctnr').hide().fadeIn();
            return false
        });
        $('div#lightbox .cancel.default, div#lightbox .close').click(function() {
            $('#lightbox').fadeOut()
        });
        /********************************************************************/
        /***********************    CART HANDLERS    ************************/
        /********************************************************************/
        $('div#cart .empty').click(function() {
            if (confirm("{% trans "Sure you want to empty the cart ?" %}")) {
                ikwen.clearCart()
            } else return false
        });
        $('button.order.confirm, a.order.confirm').live('click', function() {
            var notice;
            if (localStorage.getItem('cartIsAnAutoSelection')) {
                notice = "{% trans "Automatic selection cannot be edited. Empty cart first." %}";
                $('div#top-notice-ctnr span').text(notice).removeClass('failure');
                $('#top-notice-ctnr').hide().fadeIn().delay(10000).fadeOut();
                return
            }
            var load = $(this).data('load');
            if (!ikwen.hasEnoughBalance(load)) {
                notice = "{% blocktrans %}Sorry, your quota has been exhausted. <b><a href='{{ bundles_url }}'>Take a new bundle</a></b>{% endblocktrans %}";
                $('.top-notice-ctnr span').html(notice).addClass('failure');
                $('.top-notice-ctnr').hide().fadeIn().delay(10000).fadeOut();
                ikwen.warnedAboutStorage = true;
                return false
            }
            var item = {
                type: $(this).data('type'),
                id: $(this).data('id'),
                price: $(this).data('price'),
                load: load,
                title: $(this).data('title'),
                poster: {
                    small_url: $(this).data('poster')
                }
            };
            if ($('div#cart .item:not(.tpl)').length == 0) $('div#cart .panel').slideDown();
            ikwen.addToCart(item);
            ikwen.populateCartPanel()
        });

        $('div#cart .items-count').click(function() {
            $('div#cart .panel').slideDown();
        });
        $('div#cart .panel .close').click(function() {
            $('div#cart .panel').slideUp()
        });
        $('div#cart .panel .item').live('mouseenter', function() {
            $(this).find('.delete-bg, .delete').show();
        }).live('mouseleave', function() {
            $(this).find('.delete-bg, .delete').hide();
        });
        $('div#cart .item .delete').live('click', function() {
            if (localStorage.getItem('cartIsAnAutoSelection')) {
                var notice = "{% trans "Automatic selection cannot be edited. Empty cart first." %}";
                $('div#top-notice-ctnr span').text(notice).removeClass('failure');
                $('#top-notice-ctnr').hide().fadeIn().delay(10000).fadeOut();
                return
            }
            var index = $(this).parents('.item').index(),
                type = $(this).parents('.item').attr('type');
            ikwen.removeFromCart(index, type);
            $("div#cart .cancel-delete").fadeIn().delay(6000).fadeOut();
            ikwen.populateCartPanel()
        });
        $('div#lightbox .login, .no-result a.login-for-more').click(function() {
            $('#login-panel').slideDown();
            $('div#login-panel form input:first').focus();
            $('#lightbox').fadeOut();
            return false
        });
        $('div#cart .cancel-delete .action').click(function() {
            ikwen.addToCart(ikwen.latestDeletedElt.item, ikwen.latestDeletedElt.index);
            ikwen.populateCartPanel();
            $("div#cart .cancel-delete").fadeOut()
        });
        $('div#cart .no-movie .show-form').click(function() {
            $('#auto-selection').fadeIn();
            $(this).hide()
        });
        $('form#auto-selection .hide').click(function() {
            $('#auto-selection').fadeOut();
            $('div#cart .no-movie .show-form').show()
        });
        var autoSelectionCompleteNotice = "{% trans "Your automatic selection is complete." %}";
        $('form#auto-selection').submit(function() {
            var moviesLoad = parseInt($('input#movies-qty').val()),
                seriesLoad = parseInt($('input#series-qty').val()),
                load = moviesLoad + seriesLoad,
                salesUnit = "{{ SALES_UNIT }}";
            if (salesUnit == "Volume") {
                moviesLoad *= 1000;
                seriesLoad *= 1000;
                load *= 1000;
            }
            if (!ikwen.hasEnoughBalance(load)) {
                var notice = "{% blocktrans %}Sorry, your quota is insufficient. <b><a href='{{ bundles_url }}'>Take a new bundle</a></b>{% endblocktrans %}";
                $('div#top-notice-ctnr span').html(notice).addClass('failure');
                $('#top-notice-ctnr').hide().fadeIn().delay(10000).fadeOut();
                return false
            }
            $('form#auto-selection .spinner-container').show();
            $.getJSON("{% url 'reporting:start_auto_selection' %}", {movies_max_load: moviesLoad, series_max_load: seriesLoad}, function(data) {
                $('form#auto-selection .spinner-container').hide();
                var notice = "{% blocktrans %}Your selection is running and the cart will be automatically populated when done.{% endblocktrans %}";
                $('div#cart .panel').slideUp();
                $('div#top-notice-ctnr span').html(notice).removeClass('failure');
                $('#top-notice-ctnr').hide().fadeIn();
            });
            localStorage.setItem('autoSelectionIsRunning', 'Yes');
            ikwen.startAutoSelectionStatusChecker("{% url 'reporting:check_auto_selection_status' %}", autoSelectionCompleteNotice);
            return false;
        });

        $('div.estimation a').click(function() {
            $('div#lightbox .dialog').hide();
            $('div#lightbox .dialog.point-of-sales').show();
            $('#lightbox').fadeIn();
            $('div#lightbox .dialog.point-of-sales input').focus();
            //$(this).first().hide();
            $('div.estimation a:first-child').hide();
            $('div.estimation .time').fadeIn();
            return false
        });
        if (localStorage.getItem('downloadSpeed')) {
            $('div.estimation a:first-child').hide();
            $('div.estimation .time').fadeIn();
        }
        $(window).bind('storage', ikwen.populateCartPanel);
        ikwen.populateCartPanel();
        ikwen.startAutoSelectionStatusChecker("{% url 'reporting:check_auto_selection_status' %}", autoSelectionCompleteNotice);

        /********************************************************************/
        /***********************    FREEZE TOP BAR HANDLERS    **************/
        /********************************************************************/

        $(window).scroll(function() {
            var topH = 41,
                scrollTop = $(this).scrollTop();
            if (scrollTop > topH) {
                if (!$('div#top').hasClass('frozen'))
                    $('#top').addClass('frozen has-shade').hide().fadeIn();
                    $('#side-nav').css('margin-top', '40px')
            }
            if (scrollTop < topH) {
                $('#top').removeClass('frozen has-shade');
                $('#side-nav').css('margin-top', '28px')
            }
        });
        var $sideNav = $('#side-nav'),
            $more = $('#more-categories');

        $('div#top > div:first-child').mouseenter(function() {
            if($sideNav.hasClass('visible')) return false;
            $sideNav.addClass('visible').animate({marginLeft: 0});
                $('#side-nav').find('nav li.more').mouseenter(function() {
                    if($more.hasClass('visible')) return false;
                        $more.animate({marginLeft: 250}).addClass('visible');
                        $more.css('margin-left', 255 + 'px');
                        $(this).addClass('current')
                })
        }).mouseleave(function() {
            if($more.hasClass('visible')) {
                $more.animate({marginLeft: -280}, function(){$more.removeClass('visible')});
                $('#side-nav').find('nav li.more').removeClass('current')
            }
            if($sideNav.hasClass('visible')) {
                $sideNav.animate({marginLeft: -280}, function(){$sideNav.removeClass('visible')});
                if($more.hasClass('visible')) $more.animate({marginLeft: -280}, function(){$more.removeClass('visible')})
            }
        });
        $sideNav.find('nav li:not(.more)').mouseenter(function() {
            if($more.hasClass('visible')) {
                //$more.animate({marginLeft: -280}, function(){$more.removeClass('visible')})
                $('#side-nav').find('nav li.more').removeClass('current')
            }
        });
        $('div#more-categories li.entry').click(function() {
            if ($(this).hasClass('is-adult')){
                {% if not request.user.is_authenticated %}
                    $('div#lightbox .dialog').hide();
                    $('div#lightbox .dialog.login-required-for-adult').show();
                    $('#lightbox').fadeIn();
                    return false;
                {% elif  request.user.is_authenticated and not request.user.adult_authorized %}
                    $('div#lightbox .dialog').hide();
                    $('div#lightbox .dialog.confirm-adult').show();
                    $('#lightbox').fadeIn();
                    return false;
                {% elif request.user.is_authenticated and request.user.adult_authorized %}
                    $(this).find('a').click();
                {% endif %}
            } else {
                $(this).find('a').click()
            }
        });

        $('div#lightbox .dialog.confirm-adult button.confirm').click(function() {
            $('body, button').css('cursor', 'wait');
            $.getJSON("{% url 'shavida:authorize_adult' %}", null, function (data) {
                $('body, button').css('cursor', 'default');
                if (data.error) alert(data.error);
                else {
                    {% if last_vod_prepayment.adult_authorized %}
                        window.location = "{% url 'movies:home' %}#adult_autorized";
                    {% else %}
                        window.location = "{% url 'movies:bundles' %}";
                    {% endif %}
                }
            })
        })
        {% if request.GET.bundleChosen %}
            $('div#top-notice-ctnr span').html("{% trans "Your bundle was chosen. Please pay on a Point of Sale" %}");
            $('div#top-notice-ctnr').fadeIn('slow').delay(10000).fadeOut();
        {% endif %}

    })()
</script>