{% load i18n %}
{% if IS_VOD_OPERATOR %}
    <div class='poster' style="background-image: url({{ media.poster.small_url }})">
        {% if media.season %}
            <a href="{% url 'movies:series_detail' media.slug %}" class="view-details"></a>
        {% else %}
            <a href="{% url 'movies:movie_detail' media.slug %}" class="view-details"></a>
        {% endif %}
        <div class="actions">
            {% if not request.user.is_authenticated %}
                <a class='play connect' title="{% trans "Watch streaming" %}"></a>
            {% else %}
                <a class='play' title="{% trans "Watch streaming" %}" data-type="movie" data-id="{{ media.id }}"></a>
            {% endif %}
            {% if media.trailer_slug %}
                <button class='trailer' title="{% trans "Watch trailer" %}" data-type="trailer" data-id="{{ media.id }}" style="float: left"></button>
            {% endif %}
        </div>
    </div>
    <div class='title has-faded-edge'>{{ media.title }}{% if media.season %} {% trans "season" %} {{ media.season }}{% endif %}</div>
    <div class="clicks"> <span>{{ media.display_clicks }}</span> {% trans "views" %}</div>
    <div class="load">{{ media.display_load }}</div>
{% else %}  {# Case of Content Vendor #}
    {% if media.season %}
        <a href="{% url 'movies:series_detail' media.slug %}" class='poster' style="background-image: url({{ media.poster.small_url }})"></a>
    {% else %}
        <a href="{% url 'movies:movie_detail' media.slug %}" class='poster' style="background-image: url({{ media.poster.small_url }})"></a>
    {% endif %}
    <div class='title has-faded-edge'>{{ media.title }}{% if media.season %} {% trans "season" %} {{ media.season }}{% endif %}</div>
    {% if config.vod %}
        <div class="clicks"> <span>{{ media.display_clicks }}</span> {% trans "views" %}</div>
{#        <div class="clicks"> <span>{{ media.display_clicks }}</span> <span class="icon"></span></div>#}
        <span class="load" style="margin-top: 8px">{{ media.display_load }}</span>
        <div class="actions">
            {% if media.trailer_slug %}
                <button class='icon trailer' title="{% trans "Watch trailer" %}" data-type="trailer" data-id="{{ media.id }}" style="float: left"></button>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <button class='icon play connect' title="{% trans "Watch streaming" %}"></button>
                <button class='icon cart connect' title="{% trans "Order for your VOD store." %}"></button>
            {% else %}
                <button class='icon play' title="{% trans "Watch streaming" %}" data-type="media" data-id="{{ media.id }}" style="float: left"></button>
                {% if request.user.has_pending_order %}
                    <button class='icon cart processing' title="{% trans "Order for your VOD store." %}" style="float: left"></button>
                {% else %}
                    <button class='icon cart order confirm' title="{% trans "Order for your VOD store." %}" id="{{ media.id }}"
                            data-title="{{ media.title }}" data-id="{{ media.id }}" data-category='{{ media.category }}' data-load='{{ media.load }}'
                            data-poster="url('{{ media.poster.small_url }}')"  data-is_adult="{{ media.is_adult }}" data-type="media"></button>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <div class="orders"> <span>{{ media.display_orders }}</span> <span class="icon"></span></div>
        <span class="load" style="margin-top: 8px">{{ media.display_load }}</span>
        {% if not request.user.is_authenticated %}
            <button class='connect confirm' title="{% trans "Order for your VOD store." %}">{% trans "Order" %}</button>
        {% else %}
            {% if request.user.has_pending_update %}
                <button class='processing confirm' title="{% trans "Order for your VOD store." %}">{% trans "Order" %}</button>
            {% else %}
                <button class='order confirm' title="{% trans "Order for your VOD store." %}" id="{{ media.id }}"
                        data-title="{{ media.title }}" data-id="{{ media.id }}" data-category='{{ media.category }}' data-load='{{ media.load }}'
                        data-poster="url('{{ media.poster.small_url }}')"  data-is_adult="{{ media.is_adult }}" data-type="media">{% trans "Order" %}</button>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}