<section class="subtle-shade" style="background: #fff; float: left">
    <header style="">
        <span>Top 20</span>
        <a href="{% url 'movies:media_list' 'top' %}">Tout afficher</a>
    </header>
    <table class="items top">
        <tr>
            <td col="1">
                <div class="four-img n1" num="n1">
                    <div>
                        <div class='item media tpl'>
                            <a href='#' target="_blank" class='poster detail' style=''></a>
                            <div class='title has-faded-edge'>
                                <span></span>
                                <span class="faded-edge"></span>
                            </div>
                            {% include 'movies/old/snippets/tpl_media_actions.html' %}
                        </div>
                    </div>
                </div>
            </td>
            <td colspan="2" rowspan="2" col="3">
                <div>
                    <div class="four-img main n3" num="n3">
                        <div>
                            <div class='item media main tpl'>
                                <a href='#' target="_blank" class='poster detail' style=''></a>
                                <div class='title has-faded-edge'>
                                    <span></span>
                                    <span class="faded-edge"></span>
                                </div>
                                {% include 'movies/old/snippets/tpl_media_actions.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td col="2">
                <div class="four-img n2" num="n2">
                    <div>
                        <div class='item media tpl'>
                            <a href='#' target="_blank" class='poster detail' style=''></a>
                            <div class='title has-faded-edge'>
                                <span></span>
                                <span class="faded-edge"></span>
                            </div>
                            {% include 'movies/old/snippets/tpl_media_actions.html' %}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="four-img n4" num="n4">
                    <div>
                        <div class='item media tpl'>
                            <a href='#' target="_blank" class='poster detail' style=''></a>
                            <div class='title has-faded-edge'>
                                <span></span>
                                <span class="faded-edge"></span>
                            </div>
                            {% include 'movies/old/snippets/tpl_media_actions.html' %}
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="four-img n5" num="n5">
                    <div>
                        <div class='item media tpl'>
                            <a href='#' target="_blank" class='poster detail' style=''></a>
                            <div class='title has-faded-edge'>
                                <span></span>
                                <span class="faded-edge"></span>
                            </div>
                            {% include 'movies/old/snippets/tpl_media_actions.html' %}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</section>
