{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}
{% block meta %}
<meta name="abstract" content="{{ service.project_name }} - {% trans "Bundles" %}"/>
{% endblock %}
{% block page_title %} <title>{{ service.project_name }} - {% trans "Bundles" %}</title> {% endblock %}
{% block content %}
    {% include 'snippets/fb_sdk.html' %}
    <div id="content">
        <div class="wrapper">
            <div id="bundles">
                {% for bundle in vod_bundles %}
                    <div class="bundle">
                        <h3>{{ bundle.duration }} {% trans "days" %}</h3>
                        <div class="about text-has-shade" style="background: url('{{ bundle.movie.poster.small_url }}')">
                            <ul>
                                <li>{{ bundle.comment }}</li>
                            </ul>
                            <span class="cost">{{ bundle.cost|intcomma }} {{ CURRENCY }}</span>
                            <button class="confirm order" data-id="{{ bundle.id }}" data-duration="{{ bundle.duration }}">{% trans "Choose" %}</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
{% block sub_dialogs %}
    <div class="dialog confirm-bundle has-shade" style="height: 270px; width: 656px">
        <div class="stage" style="padding-top: 10px">
            <div class="pay-now" style="margin-top: 15px; padding-bottom: 24px">
                <h2>{% trans "Pay now" %}</h2>
                <ul style="margin-top: 15px">
                    <li class="mtn" style="background: #ffca06; margin-left: 18px">
                        <a>
                            <img src="{% static 'shavida/img/logo_mtn_mobile_money.jpg' %}" height="90"/>
                        </a>
                    </li>
                    <li class="om" style="background: #0e1118">
                        <a>
                            <img src="{% static 'shavida/img/logo-OM-200x166.png' %}" height="90"/>
                        </a>
                    </li>
                    <li style="border: 1px solid #eee">
                        <a href="#">
                            <img src="{% static 'shavida/img/payment-logo.jpg' %}" height="90"/>
                        </a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
        (function() {
            var clearCart = false;
            $('button.order').click(function() {
                $('div#lightbox .dialog').hide();
                $('div#lightbox .dialog.confirm-bundle').show();
                $('#lightbox').fadeIn();
                var bundleId = $(this).data('id'),
                    volume = parseInt($(this).data('volume')) * 1000,
                    href = "{% url 'movies:momo_checkout' %}?bundle_id=" + bundleId,
                    usedQuota = ikwen.getUsedQuota();
                if (usedQuota > volume) {
                    clearCart = true;
                    $('.dialog.confirm-bundle .warning.failure').show()
                } else {
                    clearCart = false;
                    $('.dialog.confirm-bundle .warning.failure').hide()
                }
                $('.dialog.confirm-bundle li.mtn a').attr('href', href + '&mtn=yes');
                $('.dialog.confirm-bundle li.om a').attr('href', href + '&orange=yes')
            });
            $('.dialog.confirm-bundle button.confirm').click(function() {
                $(this).removeClass('confirm').addClass('disabled');
                if (clearCart) ikwen.clearCart();
                window.location = $(this).data('href');
            });
            $('.button.default').click(function() {
                $('div#lightbox .dialog').hide();
                $('#lightbox').fadeOut()
            });
            $('#side-nav').remove()
        })()
    </script>
    {% include 'snippets/google_analytics.html' %}
{% endblock %}