{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block meta %}
    <meta name="abstract" content="{{ media.title }} - {{ WEBSITE_NAME }}"/>
{% endblock %}
{% block page_title %} <title>{{ WEBSITE_NAME }} - {{ media.title }}</title> {% endblock %}
{% block custom_head %}
    <meta property="og:image" content="{{ media.poster.url }}"/>
{% endblock %}
{% block content %}
    {% include 'snippets/fb_sdk.html' %}
    <div id="content" class="series-detail">
        <div class="wrapper">
            <section id="main">
                <header>{{ media.title }} - {% trans "season" %} {{ media.season }}</header>
                <div id="media">
                    <div style="margin-top: 15px">
                        <div class='item media'>
                            {% include 'movies/old/snippets/media_detail_actions.html' %}
                            {# TODO: Make it possible to order all episodes of a series in one click #}
                        </div>
                        <div class="categories">
                            <strong style="float: left; margin-right: 6px"> {% trans "Genre" %}: </strong>
                            <span>{{ media.categories_to_string }}</span>
                        </div>
                        <div class="synopsis" style="width: 485px">
                            <h3 class="title"> {% trans "Synopsis" %}: </h3>
                            <div class="content"> {{ media.synopsis|safe }} </div>
                        </div>
                    </div>
                    <ul class="episodes-list">
                        {% for episode in episodes %}
                            <li class="episode media">
                                <span class="name">
                                    <span> {{ episode.title }}: </span>
                                    <span> {{ episode.display_load }} </span>
                                </span>
                                {% include 'movies/old/snippets/../snippets/series_episode_actions.html' %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section id="suggestions" style="margin-top: 0">
                <header style="font-size: 1.5em; padding-bottom: 14px">{% trans "Suggestions" %}</header>
                <div>
                    {% for media in suggestions %}
                        <div class="item">
                            {% include 'movies/old/snippets/media_detail_actions.html' %}
                        </div>
                    {% endfor %}
                </div>
                <div class="clear"></div>
            </section>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    {% if IS_VOD_OPERATOR %}
        <script type="text/javascript">
            (function() {
                var suggestionsHeight = $('section#suggestions').height(),
                    mediaHeight = $('div#media').height() + 100,
                    height = Math.max(suggestionsHeight, mediaHeight);
                $('section#main').height(height);
                $('div#top .logo > a').text("Series")
            })()
        </script>
    {% endif %}
    {% include 'snippets/google_analytics.html' %}
{% endblock %}