{% extends "core/base_bs.html" %}
{% load i18n humanize static auth_tokens %}
{% block meta %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.IKWEN_MEDIA_URL }}ikwen/favicons/{{ service.app.slug }}/apple-icon-180x180.png">
    <link rel="shortcut icon" type="image/png" sizes="192x192" href="{{ settings.IKWEN_MEDIA_URL }}ikwen/favicons/{{ service.app.slug }}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.IKWEN_MEDIA_URL }}ikwen/favicons/{{ service.app.slug }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ settings.IKWEN_MEDIA_URL }}ikwen/favicons/{{ service.app.slug }}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.IKWEN_MEDIA_URL }}ikwen/favicons/{{ service.app.slug }}/favicon-16x16.png">
    <link rel="manifest" href="{{ settings.IKWEN_MEDIA_URL }}ikwen/favicons/{{ service.app.slug }}/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ settings.IKWEN_MEDIA_URL }}ikwen/favicons/{{ service.app.slug }}/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
{% endblock %}
{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/css/admin.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'ikwen/css/console.css' %}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block selection_control %}
    <div id="selection-control" class="container-fluid has-shade">
        <div class="clear-selection" title="{% trans "Clear selection" %}"></div>
        <div class="select-count">
            <strong class="value">1</strong> {% trans "Selected" %}
        </div>
        {% block selection_actions %}{% endblock %}
    </div>
{% endblock %}

{% block header %}
    {{ block.super }}
    <div id="app-nav" class="container-fluid">
        <span class="cta app-logo">
            <img src="{{ settings.IKWEN_MEDIA_URL }}{{ service.app.logo.name }}" class="img-responsive" />
        </span>
        <span class="cta app-name">{{ service.app.name }}</span>
        <ol class="breadcrumb">
            {% url 'ikwen:staff_router' as admin_home_url %}
            <li><a href="{{ admin_home_url }}">{{ service.project_name }}</a></li>
            {% block breadcrumb_location %}{% endblock %}
        </ol>
        <a href="{% url 'movies:home' %}" class="go-to-website pull-right" title="{% trans "Go to public website" %}">
            <i class="glyphicon glyphicon-globe"></i>
            <span class="hidden-xs">{% trans "Go to website" %}</span>
        </a>
    </div>
{% endblock %}

{% block header_brand %}
<a class="navbar-brand" href="{{ settings.IKWEN_BASE_URL }}"><strong>ikwen</strong></a>
{% endblock %}

{% block content %}
    <div id="container" class="admin edge-panel-left-container">
        {% block admin_nav %}
            <div id="admin-nav" class="edge-panel-left">
                <div class="wrapper">
                    <div class="stage" {% if filter and filter|length > 0 %}style="margin-left: -100%"{% endif %}>
                        {% if filter and filter|length > 0 %}
                            <nav id="filter-nav">
                                <span style="text-align: right">
    {#                                {% trans "Menu" %}&nbsp;&nbsp;#}
                                    <img class="show-filter" src="{% static 'ikwen/img/arrow-right.png' %}" width="18"
                                         height="18">
                                </span>
                                <span>
                                    <img class="show-menu" src="{% static 'ikwen/img/arrow-left.png' %}" width="18"
                                         height="18">
                                    &nbsp;&nbsp;{% trans "Filter" %}
                                </span>
                            </nav>
                        {% endif %}
                        <div class="menu">
                            {% block app_admin_nav %}{% endblock %}
                            {% if perms.accesscontrol.sudo %}
                                <div class="divider"></div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation" class="flatpages">
                                        {% url 'ikwen:flatpage_list' as flatpage_list_url %}
                                        <a href="{{ flatpage_list_url|append_auth_tokens:request }}">{% trans "Pages" %}</a>
                                    </li>
                                    <li role="presentation" class="community">
                                        {% url 'ikwen:community' as community_url %}
                                        <a href="{{ community_url|append_auth_tokens:request }}">{% trans "Community" %}</a>
                                    </li>
                                </ul>
                                <div class="divider"></div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation" class="payment-means">
                                        <a href="{% url 'billing:payment_mean_list' %}">
                                            {% trans "Payment means" %} <span class="label label-danger">New</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="configuration">
                                        {% url 'ikwen:configuration' as configuration_url %}
                                        <a href="{{ configuration_url|append_auth_tokens:request }}">{% trans "Configuration" %}</a>
                                    </li>
                                    <li role="presentation" class="invoices">
                                        {% url 'billing:invoice_list' as invoice_list_url %}
                                        <a href="{{ invoice_list_url|ikwenize|append_auth_tokens:request }}"
                                           target="_blank">{% trans 'Invoices' %}</a>
                                    </li>
                                    <li role="presentation" class="service-info">
                                        {% url 'ikwen:service_detail' service.id as service_detail_url %}
                                        <a href="{{ service_detail_url|append_auth_tokens:request }}">{% trans "Info & Billing" %}</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                        {% if filter and filter|length > 0 %}
                            <ul class="nav nav-pills nav-stacked filter">
                                {% for elt in filter %}
                                    <li>
                                        <a href="javascript:;" data-toggle="collapse"
                                           data-target="#{{ elt.parameter_name }}" aria-expanded="true">
                                            {{ elt.title }} <i class="fa fa-fw fa-caret-down"></i>
                                        </a>
                                        <ul id="#{{ elt.parameter_name }}" data-param="{{ elt.parameter_name }}"
                                            class="nav nav-pills nav-stacked collapse in choices" aria-expanded="true"
                                            style="padding-left: 15px">
                                            {% for choice in elt.choices %}
                                                <li data-value="{{ choice.0 }}">
                                                    <a href="javascript:;">{{ choice.1 }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block admin_content %}{% endblock %}
        <div class="clear"></div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        &copy; {{ year }} <a href="http://www.ikwen.com"><strong>ikwen</strong></a>. {% trans "All rights reserved." %} -
        <a href="http://www.ikwen.com/legalMentions" style="text-decoration: underline">{% trans "Legal mentions" %}</a>
    </footer>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function() {
            $('nav#filter-nav .show-menu').click(function() {
                $('div#admin-nav .stage').animate({marginLeft: 0})
            });
            $('nav#filter-nav .show-filter').click(function() {
                $('div#admin-nav .stage').animate({marginLeft: '-100%'})
            });
            $('#admin-nav, #admin-content, #object-detail').scroll(function() {
                if ($(this).scrollTop() > 0) {
                    if ($(this).find('.ceil').length > 0) return;
                    $('#app-nav').addClass('has-shade')
                } else {
                    $('#app-nav').removeClass('has-shade')
                }
            });
            $('body').on('click', '.ik-li .select', function() {
                $(this).parents('.ik-li').toggleClass('selected');
                var id = $(this).data('id'),
                    count = $('.ik-li.selected').length;
                if (count > 0) {
                    var selected = [];
                    $('.ik-li.selected').each(function() {
                        selected.push($(this).data('id'));
                    }).data('id');
                    $('#selection-control').addClass('visible').data('selection', selected.join(','));
                    $('div#selection-control .select-count .value').text(count);
                }
                else $('#selection-control').removeClass('visible');
            }).on('click', '.ik-li .trash', function() {
                var selection = $(this).parents('.ik-li').data('id');
                deleteSelection(selection);
            });

            $('#admin-tools').on('click', '.glyphicon-search', function() {
                if ($(window).width() < 768) {
                    $(this).hide();
                    $('div#admin-tools .tool, div#admin-tools .glyphicon').hide();
                    $('.tool.search').show().focus();
                    $('.hide-search').show();
                }
            }).on('click', '.glyphicon-filter', function() {
                if ($(window).width() < 768) {
                    $(this).hide();
                    $('div#admin-tools .tool, div#admin-tools .glyphicon').hide();
                    $('.tool.filter').show().find('.widget').click();
                    $('.hide-filter').show()
                }
            }).on('click', '.back', function() {
                $('div#admin-tools .glyphicon:not(.back)').show();
                $(this).hide();
                $('div#admin-tools .tool').hide();
            });

            $('div#selection-control .clear-selection').click(function() {
                $('.ik-li').removeClass('selected');
                $('#selection-control').removeClass('visible');
            });
            $('div#selection-control .trash').click(function() {
                var selection = $('#selection-control').data('selection');
                deleteSelection(selection);
            });
            function deleteSelection(selection) {
                if (!confirm("{% trans "Confirm deletion ?" %}")) return;
                $('body, div#selection-control .trash').css('cursor', 'wait');
                $.getJSON(ikwen.deleteEndpoint, {selection: selection}, function(data) {
                    $('body, div#selection-control .trash').css('cursor', '');
                    var list = selection.split(',');
                    for (var i=0; i<data.deleted.length; i++) $('#' + data.deleted[i]).remove();
                    $('#selection-control').removeClass('visible');
                    ikwen.showFloatingNotice(data.message, '', 6);
                })
            }
            var filterDescriptor = {
                endpoint: '{{ request.META.get_full_path }}',
                resultTplSelector: '#results li.ik-li'
            };
            ikwen.setupFilter('#results', filterDescriptor);
            $('footer').appendTo('#admin-nav .wrapper')
        })()
    </script>
{% endblock %}