{% load i18n static humanize auth_tokens %}
<div style="padding: 0 15px">
    <div class="row">
        <div class="col-xs-4 col-sm-3">
            <img src="{% get_static_prefix %}shavida/img/bundle.png" alt="Bundle" class="img-responsive" style="margin-top: .5em" />
        </div>
        <div class="col-xs-8 col-sm-9">
            <h4 class="text-primary">{% trans "New payment" %}</h4>
            <p>
                <span class="text-primary" style="font-size: 21px">{{ currency_symbol }}</span>
                <strong class="text-primary" style="font-size: 21px">{{ prepayment.amount|intcomma }}</strong>
            </p>
        </div>
    </div>
    {% if member %}
        <div class="card-signature">
            <div class="photo">
                {% url 'ikwen:profile' member.id as member_url %}
                <a href="{{ member_url|ikwenize }}">
                    {% if member.photo.name %}
                        <img src="{{ IKWEN_MEDIA_URL }}{{ member.photo.thumb_name }}" alt="{{ member.full_name }}" class="img-responsive" />
                    {% else %}
                        <img src="{% static MEMBER_AVATAR %}" alt="{{ member.full_name }}" class="img-responsive" />
                    {% endif %}
                </a>
            </div>
            <div class="member-info">
                <p class="member-name">
                    {% url 'ikwen:profile' member.id as member_url %}
                    <a href="{{ member_url|ikwenize }}">{{ member.full_name }}</a>
                </p>
            </div>
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>