{% extends 'core/dashboard_base.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            <h5 style="margin-top: 0">
                <span>{% trans "Earnings" %} <span class="text-muted">({{ config.currency_code }})</span> </span>
                <a href="#" class="show-details">{% trans "Details" %}</a>
            </h5>
            <div class="row" style="clear: both">
                <div class="col-xs-6 col-sm-3 watch">
                    <h5>{% trans "Today" %}</h5>
                    <div>
                        <span style="font-size: 30px">{{ earnings_report.today.total|intcomma }}</span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 watch">
                    <h5>{% trans "Yesterday" %}</h5>
                    <div>
                        <span>{{ earnings_report.yesterday.total|intcomma }}</span>
                        {% if earnings_report.yesterday.change and earnings_report.yesterday.change > 0 %}
                            <div class="arrow up"></div>
                        {% elif earnings_report.yesterday.change and earning.yesterday.change < 0 %}
                            <div class="arrow down"></div>
                        {% endif %}
                    </div>
                    {% if earnings_report.yesterday.change and earnings_report.yesterday.change > 0 %}
                        <p class="change up">{{ earnings_report.yesterday.change }}
                            (+{{ earnings_report.yesterday.change_rate|floatformat:2 }}%)</p>
                    {% elif earnings_report.yesterday.change and earning.yesterday.change < 0 %}
                        <p class="change down">{{ earnings_report.yesterday.change }}
                            ({{ earnings_report.yesterday.change_rate|floatformat:2 }}%)</p>
                    {% else %}
                        <p class="change text-muted">---</p>
                    {% endif %}
                    <p class="vs">{% trans "vs same day last week" %}</p>
                </div>
                <div class="col-xs-6 col-sm-3 watch">
                    <h5>{% trans "Last week" %}</h5>
                    <div>
                        <span>{{ earnings_report.last_week.total|intcomma }}</span>
                        {% if earnings_report.last_week.change and earnings_report.last_week.change > 0 %}
                            <div class="arrow up"></div>
                        {% elif earnings_report.last_week.change and earning.last_week.change < 0 %}
                            <div class="arrow down"></div>
                        {% endif %}
                    </div>
                    {% if earnings_report.last_week.change and earnings_report.last_week.change > 0 %}
                        <p class="change up">{{ earnings_report.last_week.change }}
                            (+{{ earnings_report.last_week.change_rate|floatformat:2 }}%)</p>
                    {% elif earnings_report.last_week.change and earning.last_week.change < 0 %}
                        <p class="change down">{{ earnings_report.last_week.change }}
                            ({{ earnings_report.last_week.change_rate|floatformat:2 }}%)</p>
                    {% else %}
                        <p class="change text-muted">---</p>
                    {% endif %}
                    <p class="vs">{% trans "vs previous 7 days" %}</p>
                </div>
                <div class="col-xs-6 col-sm-3 watch">
                    <h5 title="{% trans "Last 28 days" %}">{% trans "Last 28 days" %}</h5>
                    <div>
                        <span>{{ earnings_report.last_28_days.total|intcomma }}</span>
                        {% if earnings_report.last_28_days.change and earnings_report.last_28_days.change > 0 %}
                            <div class="arrow up"></div>
                        {% elif earnings_report.last_28_days.change and earning.last_28_days.change < 0 %}
                            <div class="arrow down"></div>
                        {% endif %}
                    </div>
                    {% if earnings_report.last_28_days.change and earnings_report.last_28_days.change > 0 %}
                        <p class="change up">{{ earnings_report.last_28_days.change }}
                            (+{{ earnings_report.last_28_days.change_rate|floatformat:2 }}%)</p>
                    {% elif earnings_report.last_28_days.change and earning.last_28_days.change < 0 %}
                        <p class="change down">{{ earnings_report.last_28_days.change }}
                            ({{ earnings_report.last_28_days.change_rate|floatformat:2 }}%)</p>
                    {% else %}
                        <p class="change text-muted">---</p>
                    {% endif %}
                    <p class="vs">{% trans "vs previous 28 days" %}</p>
                </div>
            </div>
            {% if perms.accesscontrol.sudo and not config.is_pro_version or settings.DEBUG %}
                <h5 class="section-title">
                    <span>{% trans "Payments" %} <span class="text-muted">({{ config.currency_code }})</span></span>
                </h5>
                <div class="row payments">
                    <div class="col-xs-6 col-sm-4">
                        <h6 class="text-muted">{% trans "Balance" %}</h6>
                        <em class="balance">{{ wallet.balance|floatformat:config.decimal_precision|intcomma }}</em>
                        <div>
                            <a href="{% url 'cashout:home' %}">{% trans "Payment details" %}</a>
                        </div>
                    </div>
                    {% if last_cash_out %}
                        <div class="col-xs-6 col-sm-3">
                            <h6 class="text-muted">{% trans "Last payment" %}</h6>
                            <em class="last-payment">{{ last_cash_out.amount }}</em>
                            <time style="float: left; font-size: 12px; margin-top: -4px">{{ last_cash_out.created_on|date }}</time>
                            <span style="float: left; font-size: 12px; margin-top: -5px">
                                <span class="hidden-xs" style="float: left; margin: 0 6px">-</span>
                                <a href="{% url 'cashout:home' %}" style="float: left; width: auto">{% trans "View payments" %}</a>
                            </span>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <h5 class="section-title perf">
                <div>
                    <span style="float: left">{% trans "Performances" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</span>
                    <div class="dropdown" style="cursor: pointer; float: left; margin-left: 15px">
                        <span class="dropdown-toggle" id="period" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="target">{% trans "Today" %}</span>
                            <span class="caret"></span>
                        </span>
                        <ul id="performances-period" class="dropdown-menu" aria-labelledby="period">
                            <li data-target="today" style="display: none"><a>{% trans "Today" %}</a></li>
                            <li data-target="yesterday"><a>{% trans "Yesterday" %}</a></li>
                            <li data-target="last_week"><a>{% trans "Last week" %}</a></li>
                            <li data-target="last_28_days"><a>{% trans "Last 28 days" %}</a></li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="show-details">{% trans "Details" %}</a>
            </h5>
            <div class="row performances" style="clear: both">
                <div class="col-sm-6">
                    <div>
                        <header>
                            <h5>{% trans "Orders" %}</h5>
                            <a href="#" class="show-details">{% trans "Details" %}</a>
                            <div class="clear"></div>
                        </header>
                        <div>
                            <em class="report today">{{ orders_report.today.count|intcomma }}</em>
                            <em class="report yesterday tpl">{{ orders_report.yesterday.count|intcomma }}</em>
                            <em class="report last_week tpl">{{ orders_report.last_week.count|intcomma }}</em>
                            <em class="report last_28_days tpl">{{ orders_report.last_28_days.count|intcomma }}</em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <header>
                            <h5>{% trans "AEPO" %} <i class="text-muted">(Avg. Earning Per Order)</i></h5>
                            <a href="#" class="show-details">{% trans "Details" %}</a>
                            <div class="clear"></div>
                        </header>
                        <div>
                            <em class="report today">{{ config.currency_symbol }} {{ orders_report.today.aepo|intcomma }}</em>
                            <em class="report yesterday tpl">{{ config.currency_symbol }} {{ orders_report.yesterday.aepo|intcomma }}</em>
                            <em class="report last_week tpl">{{ config.currency_symbol }} {{ orders_report.last_week.aepo|intcomma }}</em>
                            <em class="report last_28_days tpl">{{ config.currency_symbol }} {{ orders_report.last_28_days.aepo|intcomma }}</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row performances" style="clear: both">
                <div class="col-sm-6">
                    <div>
                        <header>
                            <h5>{% trans "Top customers" %}</h5>
                            <a href="#" class="show-details">{% trans "Details" %}</a>
                            <div class="clear"></div>
                        </header>
                        <div class="th">
                            <span style="float: left">{% trans "Customer" %}</span>
                            <span title="Estimated earnings" style="float: right">
                                {% trans "Earnings" %}
                                <span class="text-muted" style="font-weight: 400">({{ config.currency_code }})</span>
                            </span>
                        </div>
                        <ul class="report ranking today">
                            {% if customers_report.today and customers_report.today.0.total > 0 %}
                                {% for customer in customers_report.today|slice:"5" %}
                                    {% if customer.total > 0 %}
                                        {% with member=customer.member %}
                                        <li>
                                            {% url 'ikwen:profile' member.id as member_url %}
                                            <a href="{{ member_url|ikwenize }}">{{ member.full_name }}</a>
                                            <span>{{ customer.total|intcomma }}</span>
                                        </li>
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="empty">Not enough data</li>
                            {% endif %}
                        </ul>
                        <ul class="report ranking yesterday tpl">
                            {% if customers_report.yesterday and customers_report.yesterday.0.total > 0 %}
                                {% for customer in customers_report.yesterday|slice:"5" %}
                                    {% if customer.total > 0 %}
                                        {% with member=customer.member %}
                                        <li>
                                            {% url 'ikwen:profile' member.id as member_url %}
                                            <a href="{{ member_url|ikwenize }}">{{ member.full_name }}</a>
                                            <span>{{ customer.total|intcomma }}</span>
                                        </li>
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="empty">Not enough data</li>
                            {% endif %}
                        </ul>
                        <ul class="report ranking last_week tpl">
                            {% if customers_report.last_week and customers_report.last_week.0.total > 0 %}
                                {% for customer in customers_report.last_week|slice:"5" %}
                                    {% if customer.total > 0 %}
                                        {% with member=customer.member %}
                                        <li>
                                            {% url 'ikwen:profile' member.id as member_url %}
                                            <a href="{{ member_url|ikwenize }}">{{ member.full_name }}</a>
                                            <span>{{ customer.total|intcomma }}</span>
                                        </li>
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="empty">Not enough data</li>
                            {% endif %}
                        </ul>
                        <ul class="report ranking last_28_days tpl">
                            {% if customers_report.last_28_days and customers_report.last_28_days.0.total > 0 %}
                                {% for customer in customers_report.last_28_days|slice:"5" %}
                                    {% if customer.total > 0 %}
                                        {% with member=customer.member %}
                                        <li>
                                            {% url 'ikwen:profile' member.id as member_url %}
                                            <a href="{{ member_url|ikwenize }}">{{ member.full_name }}</a>
                                            <span>{{ customer.total|intcomma }}</span>
                                        </li>
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="empty">Not enough data</li>
                            {% endif %}
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
