{% extends 'movies/base_bs.html' %}
{% load i18n humanize static auth_tokens %}

{% block page_title %}
    <title> {% trans "Order summary" %} - {{ service.project_name }} </title>
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-9 col-md-10">
                <div class="member" style="border-bottom: none">
                    <div class="photo">
                        {% url 'ikwen:profile' member.id as member_url %}
                        <a href="{{ member_url|ikwenize }}">
                            {% if member.photo.name %}
                                <img src="{{ settings.IKWEN_MEDIA_URL }}{{ member.photo.thumb_name }}" alt="{{ member.full_name }}" class="img-responsive" />
                            {% else %}
                                <img src="{% static settings.MEMBER_AVATAR %}" alt="{{ member.full_name }}" class="img-responsive" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="member-info" style="float: left; margin: 15px 0 0 10px">
                        <p class="member-name">
                            {% url 'ikwen:profile' member.id as member_url %}
                            <a href="{{ member_url|ikwenize }}">{{ member.full_name }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="{{ order.id }}" class="col-xs-2 col-sm-3 col-md-2 pull-right" style="margin-top: 1em">
                {% if show_button %}
                    {% if user == order.member %}
                        <button class="btn btn-sm btn-block btn-danger cta cancel hidden-xs">
                            <i class="glyphicon glyphicon-trash"></i> {% trans "Cancel" %}
                        </button>
                        <i class="glyphicon glyphicon-trash action cancel visible-xs" style="margin-left: -15px"></i>
                    {% else %}
                        <button class="btn btn-sm btn-block btn-success cta confirm hidden-xs">
                            <i class="glyphicon glyphicon-ok"></i> {% trans "Confirm" %}
                        </button>
                        <i class="glyphicon glyphicon-ok action confirm visible-xs" style="margin-left: -15px"></i>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="" style="padding: 0 15px">
            <div>
                <h2 class="main-title">
                    {% trans "Order summary" %}
                    {% if not settings.IS_GAME_VENDOR %}<span class="text-muted" style="font-size: .8em">({{ size }})</span>{% endif %}
                </h2>
            </div>
            <div class="row">
                {% for media in media_list %}
                    <div class="col-sm-6 col-md-4 col-lg-3" style="padding: 10px 15px">
                        <span class="summary-media-poster" style="background-image: url({% get_media_prefix %}{{ media.poster.small_name }})"></span>
                        <div style="float: left; margin-left: 5px; overflow:hidden; width: 80%">
                            <strong class="title" style="float: left; font-size: 15px; margin-top: 5px; width: 200%">{{ media.title }}</strong>
                            {% if user.is_staff %}<p class="text-muted">{{ media.resource }}</p>{% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function() {
            $('#{{ order.id }}').on('click', 'button.cancel, action.cancel', function () {
                $.getJSON("{% url 'sales:cancel_order' %}?callback=?", {member_id: '{{ user.id }}'}, function(resp) {
                    if (resp.success) {
                        $('#{{ order.id }}').hide();
                        ikwen.showFloatingNotice("{% trans "Order canceled" %}", null, 3);
                    }
                })
            }).on('click', 'button.confirm, action.confirm', function () {
                $.getJSON("{% url 'sales:confirm_processed' %}?callback=?", {order_id: '{{ order.id }}'}, function(resp) {
                    if (resp.success) {
                        $('#{{ order.id }}').hide();
                        ikwen.showFloatingNotice("{% trans "Order confirmed" %}", null, 3)
                    }
                })
            })
        })()
    </script>
{% endblock %}