{% load i18n staticfiles humanize auth_tokens %}
<div class="modal fade" id="confirm-empty-cart" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans "Confirm" %}</h4>
            </div>
            <div class="modal-body">
                <p class="col-xs-12" style="margin-bottom: 1em">{% trans "Do you really want to empty cart ?" %}</p>
                <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
                    <button class="btn btn-sm btn-danger btn-block do-empty-cart"
                            data-dismiss="modal" aria-label="Close">{% trans "Yes, empty" %}</button>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
                    <button class="btn btn-sm btn-default btn-block"
                            data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>