{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block after_field_sets %}
    <fieldset class="module aligned {{ fieldset.classes }}">
        <h2>{% trans "Categories" %}</h2>
        <ul style="float: left; margin-left: 0; padding: 6px 0 0 15px">
            {% for category in categories %}
                <li style="display: block; float: left; padding: 3px 0; width: 200px">
                    <input type="checkbox" id="category-{{ category.slug }}" name="cat_{{ category.id }}"
                        {% if category in original.categories %}checked{% endif %}
                    />
                    <label for="category-{{ category.slug }}">{{ category.title }}</label>
                </li>
            {% endfor %}
        </ul>
    </fieldset>
{% endblock %}