{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta property="description" content="{{ config.short_description }}"/>
        <meta property="og:title" content="{{ service.project_name }} - {{ config.slogan }}"/>
        <meta property="og:description" content="{{ config.short_description }}"/>
        <link rel="icon" href="{% static 'shavida/img/favicon.ico' %}" type="image/x-icon">
        {% block meta %}{% endblock %}
		{% block page_title %}{% endblock %}
        {% if request.META.HTTP_HOST == 'localhost' %}
            <style type="text/css">
                @font-face {
                    font-family: Open Sans;
                    src: local(Open Sans), url('/static/shavida/css/old/fonts/Open_Sans.woff') format('opentype');
                }
            </style>
        {% else %}
            <style type="text/css">
                /* Open Sans Light, Normal, Bold */
                @font-face {
                    font-family: Open Sans;
                    src: local(Open Sans), url('/Open_Sans.woff') format('opentype');
                }
                /* Open Sans Latin Lighter */
                @font-face {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 300;
                    src: local('Open Sans Light'), local('OpenSans-Light'), url(/Open_Sans_Light) format('woff2');
                                  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
                }
            </style>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'shavida/css/old/forms.css' %}?version=3.1">
        <link rel="stylesheet" type="text/css" href="{% static 'shavida/css/old/base.css' %}?version=1.0">
        {% if settings.IS_VOD_OPERATOR %}
            <link rel="stylesheet" type="text/css" href="{% static 'shavida/css/old/base-vod-operator.css' %}?version=1.0">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'shavida/css/old/base-content-vendor.css' %}?version=1.0.1">
        {% endif %}
        <style type="text/css">
            {% if request.user.is_authenticated %}
                #cart {display: block}
            {% endif %}
        .dialog.confirm-adult p {float: right; margin: 12px 20px 0 0; width: 400px}
        .dialog.confirm-adult button {float: right; width: 100px}
        </style>
		{% block custom_head %}{% endblock %}
        <script src="{% static 'shavida/js/jquery-1.8.2.min.js' %}"></script>
        <script src="{% static 'ikwen/js/ikwen-util.js' %}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <div id="top-notice-ctnr" class="hidden">
            <span class="floating-notice" style="float: none; position: static"> </span>
        </div>
        <div id="top" class="toolbar">
            <div class="logo">
                <a href="{% url 'movies:home' %}" class="text-has-shade">
                    {% if config.logo.name %}
                        <img src="{{ config.logo.url }}" height="42" />
                    {% else %}
                        <span style="text-transform: uppercase; font-size: .7em; padding-top: 6px;">{{ service.project_name }}</span>
                    {% endif %}
                </a>
                <div id="side-nav" style="z-index: 15">
                    <div class="stage has-shade">
                        <nav class="smart-categories">
                            <ul>
                                {% if request.user.is_authenticated %}
                                    <li class="recommended">
                                        <a href="{% url 'movies:home' %}">{% trans "Recommended for you" %}</a>
                                    </li>
                                {% endif %}
                                {% for category in smart_categories %}
                                    <li data-id="{{ category.id }}">
                                        <a href="{% url 'movies:media_list' category.slug %}">{{ category.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                        <nav class="categories">
                            <header>{% trans "CATEGORIES" %}</header>
                            <ul>
                                {% for category in main_categories %}
                                    <li data-id="{{ category.id }}">
                                        <a class="label" href="{% url 'movies:media_list' category.slug  %}">{{ category.title }}</a>
                                    </li>
                                {% endfor %}
                                <li class="more">
                                    <a class="label" href="#">{% trans "More" %} ...</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="more-categories" class="has-shade" style="margin-top: 222px; z-index: 0">
                    <nav class="categories">
                        <ul>
                            {% for category in more_categories %}
                                {% if not category.is_adult %}
                                    <li class="entry" data-id="{{ category.id }}">
                                        <a class="label" href="{% url 'movies:media_list'  category.slug  %}">{{ category.title }}</a>
                                    </li>
                                {% else %}
                                    <li class="entry is-adult"  data-id="{{ category.id }}">
                                        <a class="label" href="{% url 'movies:media_list'  category.slug  %}">{{ category.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
            </div>
            <form id="search" action="{% url 'movies:search' %}" method="get" autocomplete="off">
                <span style="height: 7px; border-right: 1px solid; margin-top: 23px"></span>
                <input type="text" name="radix" placeholder="{% trans "Search title or actor" %}" />
                <span style="height: 7px; border-left: 1px solid; margin-top: 23px"></span>
                <input type="hidden" name="q">
                <span class="icon default magnifier" style="background-position: 0px -23px;"></span>
                <span class="icon spinner hidden"></span>
                <div id="search-results" class="hidden">
                     <a class='movie tpl'>
                         <div class='poster detail'></div>
                         <div class='title has-faded-edge'>
                             <span> </span>
                             <span class="faded-edge"></span>
                         </div>
                         <div class='minor-tag'> </div>
                     </a>
                     <div class='no-result'>
                         {% if not request.user.is_authenticated %}
                         {% blocktrans %}
                         No result. <a href="{{ sign_in_url }}" class="login-for-more" style="color: #BD7300; text-decoration: underline">Login</a> for further search.
                         {% endblocktrans %}
                         {% endif %}
                     </div>
                </div>
            </form>
            {% if not request.user.is_authenticated %}
                <div class="login">{% trans "Sign in" %}</div>
                <div id='login-panel' class="has-shade hidden">
                <div class="icon box-arrow"></div>
                <div class='close caution text-has-shade' style="font-size: 18px">X</div>
                <div class='stage'>
                    <div class="title">{{ service.project_name }} {% trans "Login" %}</div>
                        <form action="{% url 'ikwen:sign_in' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="next_url" value="{% url 'movies:home' %}" />
                            <input name="username" type="text" placeholder="{% trans "Username or email" %}">
                            <input name="password" type="password" placeholder="{% trans "Password" %}">
                            <button type="submit" class="confirm user-login" style="margin-top: 10px">{% trans "Submit" %}</button>
                            <a href="{% url 'ikwen:forgotten_password' %}" style="float: right; margin-top: 20px"> {% trans "Forgotten password ?" %} </a>
                        </form>
                        <div class="suggest-signup" style="margin-top: 15px" >
                            {% blocktrans %}
                                <span style="color: #915846; margin-top: 6px">No account yet ?</span>
                                <a href="{{ sign_in_url }}" class="button confirm" style="color: #681b00; float: right" >Register</a>
                            {% endblocktrans %}
                        </div>
                    </div>
                </div>
            {% else %}
                {% include 'movies/old/snippets/user_menu.html' %}
                {% include 'movies/old/snippets/cart.html' %}
            {% endif %}
            <ul id='navigation'>
                {% if not request.user.is_authenticated %}
                    <li class="register"><a href="{{ sign_in_url }}">{% trans "Register" %}</a></li>
                {% endif %}
                <li> <a href="{% url 'ikwen:console' %}">{% trans "Timeline" %}</a> </li>
                <li> <a href="{% url 'movies:bundles' %}">{% trans "Pricing" %}</a> </li>
            </ul>
            <div class="share" style=" float: right; height: 20px; margin: 8px 33px 0 0; width: 120px">
                <div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
            </div>
        </div>
        <footer>
            <div class="wrapper text-has-shade" style="height: 200px">
                <section class="block">
                    <header>{% trans "Categories" %}</header>
                    <ul>
                        {% for category in main_categories %}
                            {% if forloop.counter < 5 %}
                            <li data-id="{{ category.id }}">
                                <a class="label" href="{% url 'movies:media_list'  category.slug  %}">{{ category.title }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>
                <nav class="block">
                    <header>{{ service.project_name }}</header>
                    <ul>
                        {% if not request.user.is_authenticated %}
                            <li><a href="{% url 'ikwen:sign_in' %}">{% trans "Register" %}</a></li>
                        {% endif %}
                        <li> <a href="{% url 'movies:contact' %}">{% trans "Contact" %}</a> </li>
                        <li> <a href="{% url 'movies:bundles' %}">{% trans "Pricing" %}</a> </li>
                        {% for flat_page in flat_pages %}
                            <li><a href="{% url 'cms:flat_page' flat_page.slug %}">{{ flat_page.title }}</a> </li>
                        {% endfor %}
                    </ul>
                </nav>
                <section class="block follow-us">
                    <header>{% trans "Follow us" %}</header>
                    <ul class="social">
                        {% if config.facebook_link or config.twitter_link or config.google_plus_link %}
                            {% if config.facebook_link %}
                                <li> <a href="{{ config.facebook_link }}"> <img src="{% static 'shavida/img/facebook-icon.png' %}" height="36" width="36" /> </a> </li>
                            {% endif %}
                            {% if config.twitter_link %}
                                <li> <a href="{{ config.twitter_link }}"> <img src="{% static 'shavida/img/twitter_letter-512.png' %}" height="36" width="36" /> </a> </li>
                            {% endif %}
                            {% if config.google_plus_link %}
                                <li> <a href="{{ config.google_plus_link }}"> <img src="{% static 'shavida/img/google-plus-icon-logo.png' %}" height="36" width="36" /> </a> </li>
                            {% endif %}
                        {% else %}
                            <li> <a href="#"> <img src="{% static 'shavida/img/facebook-icon.png' %}" height="36" width="36" /> </a> </li>
                            <li> <a href="#"> <img src="{% static 'shavida/img/twitter_letter-512.png' %}" height="36" width="36" /> </a> </li>
                            <li> <a href="#"> <img src="{% static 'shavida/img/google-plus-icon-logo.png' %}" height="36" width="36" /> </a> </li>
                        {% endif %}
                    </ul>
                </section>
                <section class="block contact">
                    <header>{% trans "Contact us" %}</header>
                    {% if config.address %}
                        <p>{{ config.address }}</p>
                    {% else %}
                        <p>86 Rue des Oliviers, France/Paris</p>
                    {% endif %}
                    <ul>
                        <li>
                            <strong>Phone:</strong>
                            {% if config.contact_phone %}
                                <a href="tel://{{ config.get_raw_contact_phone }}">{{ config.contact_phone }}</a>
                            {% else %}
                                <a href="tel://+33622233941">(+33) 6 22 23 39 41</a>
                            {% endif %}
                        </li>
                        <li>
                            <strong>E-mail:</strong>
                            {% if config.contact_email %}
                                <a href="mailto:{{ config.contact_email }}">{{ config.contact_email }}</a>
                            {% else %}
                                <a href="mailto:info@shavida.com">info@shavida.com</a>
                            {% endif %}
                        </li>
                        <li>
                            <strong>Site web:</strong>
                            <a href="http://www.shavida.com">www.shavida.com</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div id="legal" style="border-top: solid 1px #222; font-size: 11px; margin: 6px auto; padding-top: 3px; text-align: right">
                <div class="wrapper">
                    &copy; {{ year }} {{ service.project_name }} - {% trans "All rights reserved." %} -
                    {% if config.legal_mentions_page %}
                        <a href="{% url 'flat_page' config.legal_mentions_page.slug %}" style="color: #FF892A">{% trans "Legal mentions" %}</a>
                    {% else %}
                        <a href="#" style="color: #FF892A">{% trans "Legal mentions" %}</a>
                    {% endif %}
                </div>
            </div>
		</footer>
        <div id="lightbox" class="hidden">
            <div class='close text-has-shade' style="font-size: 36px">X</div>
            <table style="height: 100%; width: 100%">
                <tr>
                    <td style="vertical-align: middle; text-align: center">
                        {% include 'movies/old/snippets/dialog_login_required.html' %}
                        {% include 'movies/old/snippets/dialog_suggest_payment.html' %}
                        <div class="dialog login-required-for-adult has-shade hidden">
                            <div class="stage">
                                <div id="avatar-adult"></div>
                                <div style="font-size: 16px; text-align: center">
                                    {% blocktrans %}
                                        <a href="{{ sign_in_url }}?next_url=account">Login</a> to continue
                                    {% endblocktrans %}
                                </div>
                                <div style="border-top: 1px solid #FCE5DD; margin-top: 20px; padding-top: 5px; text-align: right">
                                    {% blocktrans %}
                                        No account yet ? <a href="{{ sign_in_url }}">Register</a>
                                    {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                        <div class="dialog player has-shade">
                            {% include 'movies/old/snippets/streaming_error.html' %}
                            <video class="wrapper" autoplay controls></video>
                        </div>
                        {% block sub_dialogs %}{% endblock %}
                    </td>
                </tr>
            </table>
        </div>
        <script>(function() {
            ikwen.limitCartItems = true;  // Cause the cart to display only some of the items. Limit is given by MAX_VISIBLE_CART_ITEMS
        })()</script>
        {% block pre_custom_js %}{% endblock %}
        <script src="{% static 'shavida/js/movies.js' %}?version=3.4.2"></script>
        {% if settings.IS_VOD_OPERATOR %}
            {% include 'movies/old/snippets/global_handlers_vod.html' %}
        {% else %}
            {% include 'movies/old/snippets/global_handlers.html' %}
        {% endif %}
        {% include 'movies/old/snippets/vod_handlers.html' %}
        {% block custom_js %}{% endblock %}
    </body>
</html>