{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block meta %}<meta name="abstract" content="{{ WEBSITE_NAME }} - {{ page.title }}"/>{% endblock %}
{% block custom_head %}
    <style type="text/css">
        #search input {background: transparent}
        #content {background: #FFF}
        #navigation li.faq a {background: rgba(255, 255, 255, .09)}
        nav#sub, #sales-logout {display: none}
    </style>
{% endblock %}
{% block page_title %}<title>{{ WEBSITE_NAME }} - {{ page.title }}</title>{% endblock %}
{% block content %}
    <div id="content">
        <div class="wrapper">
            <section>
                {% if page.banner %}
                    <div id="banner" class="text-has-shade" style='background-image: url("{{ page.banner.url }}")'>
                {% endif %}
                </div>
                <div class="stage" style="padding: 24px 15px 45px">
                    {{ page.content|safe }}
                </div>
            </section>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block custom_js %}
    {% include 'snippets/google_analytics.html' %}
{% endblock %}