{% extends "core/base_bs.html" %}
{% load i18n %}
{% load staticfiles %}

{% block page_title %}<title>{{ service.project_name }} - {% trans "Sign in" %} </title>{% endblock %}
{% block head_style %}
    {{ block.super }}
    <style  type="text/css">
        body {background: #222 url({% static 'img/home-tiled-bg.jpg' %}) no-repeat center; background-size: cover}
        #navbar {visibility: hidden}
        #navbar form.search input {display: none}
        #navbar .search, #navbar .navbar-right {display: none}
        #content > div {margin: auto}
        div#login {background: rgba(255, 255, 255, .9); border-radius: 3px; padding: 1px 0 30px}
        #navbar .navbar-brand, #navbar .navbar-brand:hover {display: none; text-transform: uppercase; font-size: 2.5em; font-weight: 700}

        div#login input {border: 1px solid #bbb;}
        div#login form {padding: 30px}

        label span {font-weight: normal}
        #content form .hint {color: #8D96C5; font-size: 14px}
        #content form ul.errorlist {padding-left: 0}
        #content form ul.errorlist li {color: #FF0808; list-style-type: none}
        footer {color: #fff}
        footer a, footer strong {color: #fff}

        @media (max-width: 767px) {
            #content {margin-top: 15%}
        }

        @media (min-width: 768px) {
            #content {margin-top: 4%}
            #navbar .navbar-header {float: none; text-align: center}
            #content div#login {margin: auto; padding: 1px 20px 30px; width: 380px}
            div#login {width: 87%}
        }

        @media (min-width: 992px) {
            #content {margin-top: 10%}
            #content > div {float: right}
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div id="login">
            <h3 style="text-align: center"> {% trans "Sign in" %} </h3>
            <form action="{% url 'ikwen:sign_in' %}?{{ request.META.QUERY_STRING }}" method="post">{% csrf_token %}
                {% if login_form.errors %}
                    <p class="failure" style="font-size: 1em; padding: 9px">{{ error_message }}</p>
                {% elif request.GET.msg %}
                    <p class="failure" style="font-size: 1em; padding: 9px">{{ request.GET.msg }}</p>
                {% elif request.GET.successfulPasswordReset %}
                    <p class="success" style="font-size: 1em; padding: 9px">{% trans "Your password was successfully reset, login now." %}</p>
                {% endif %}
                <div class="form-group" style="margin-top: .4em">
                    <label for="lg-username">{% trans "Username or email" %}</label>
                    <input id="lg-username" class="form-control input-sm username" type="text" name="username"
                           value="{{ request.GET.username }}{{ request.GET.phone }}" /> {#Only username or phone will be output depending on what is available#}
                </div>
                <div class="form-group">
                    <label for="lg-password">{% trans "Password" %}</label>
                    <input id="lg-password" class="form-control input-sm password" type="password" name="password" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block btn-sm"> {% trans "Submit" %} </button>
                    <a style="float: left; margin-top: 7px" href="{% url 'ikwen:forgotten_password' %}">{% trans "Forgotten password ?" %}</a>
                </div>
            </form>
            <div style="clear: both; padding-top: 15px; text-align: center">
                {% trans "No account yet ?" %}
                <a id="show-register"
                   href="{% url 'ikwen:register' %}?{{ request.META.QUERY_STRING }}">{% trans "Register" %}</a>
            </div>
        </div>
        <div></div>
        <div class="clear"></div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        {% get_current_language as LANGUAGE_CODE %}
        (function() {

        })()
    </script>
    {{ config.scripts|safe }}
{% endblock %}